.news-snippet {
    background-color: var(--light-color);

    .news-title {
        margin: 1rem 0;
        a {
            color: var(--primary-color);
            background: linear-gradient(var(--secondary-color), var(--secondary-color));
            background-size: 0 1px;
            background-position: 0 100%;
            background-repeat: no-repeat;

            &:hover {
                color: var(--secondary-color);
                background-size: 100% 1px;
            }
        }
    }
    .featured-image {
        display: flex;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .summary {
        .excerpt {
            margin: 1rem 0;
        }
    }
}

.archive-wrapper {
    .post:first-child {
        grid-column-start: 1;
        grid-column-end: 4;
        margin: 0 -70px;

        @media screen and (max-width: $large) {
            grid-column-end: 3;
        }
        @media screen and (max-width: $medium) {
            margin: 0 -40px;
        }
        @media screen and (max-width: $small) {
            margin: 0 -20px;
            grid-column-end: 2;
        }

        .news-snippet {
            position: relative;
            flex-direction: column;
            padding: 0;
            margin-bottom: 0;
            border: 0;

            .featured-image {
                width: 100%;
                height: 580px;
                position: relative;

                @media screen and (max-width: $medium) {
                    height: 500px;
                }

                &:after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background: var(--primary-color);
                    opacity: 0.75;
                }

                img {
                    object-position: top center;
                }
            }
            .summary {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                -webkit-transform: translate(-50%, -50%);
                width: 70%;
                text-align: center;
                padding: 1rem 2rem;

                @media screen and (max-width: $medium) {
                    width: 90%;
                }
                @media screen and (max-width: $small) {
                    width: 100%;
                    padding: 30px 15px;
                }

                .info {
                    flex-direction: column;
                    margin: 2rem 0;
                    font-size: 0.85rem;
                    .comments,
                    .social-share {
                        display: none;
                    }

                    .list-inline {
                        a {
                            color: var(--light-color);

                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }

                    .post-author {
                        &::before {
                            background-color: var(--light-color);
                        }
                    }

                    .readmore {
                        padding: 10px 30px;
                        border: 1px solid var(--secondary-color);
                        color: var(--light-color);
                        background: var(--secondary-color);
                        border-radius: 1000px;

                        &:hover {
                            background: transparent;
                            border-color: var(--light-color);
                            color: var(--light-color);
                        }
                    }
                }

                .news-title {
                    font-size: 2.6rem;
                    margin: 0 0 30px;

                    @media screen and (max-width: $medium) {
                        font-size: 2rem;
                    }

                    a {
                        color: var(--light-color);
                        background: linear-gradient(var(--light-color), var(--light-color));
                        background-size: 0 1px;
                        background-position: 0 100%;
                        background-repeat: no-repeat;

                        &:hover {
                            background-size: 100% 1px;
                        }
                    }
                }

                .excerpt {
                    color: var(--light-color);
                }

                .category,
                .tags {
                    display: none;
                }
            }
        }
    }
}

/*masorny*/
.custom-grid-view {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-gap: 50px;

    @media screen and (max-width: $medium) {
        grid-gap: 30px;
    }
}
.archive-wrapper .custom-grid-view {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 70px;
    margin: 0 70px;

    @media screen and (max-width: $large) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (max-width: $medium) {
        grid-gap: 40px;
        margin: 0 40px;
    }
    @media screen and (max-width: $small) {
        grid-template-columns: 1fr;
        grid-gap: 20px;
        margin: 0 20px;
    }
}
/*masorny*/

.readmore {
    display: flex;
    align-items: center;
    gap: 7px;

    svg {
        height: 19px;
        fill: var(--primary-color);
        &:hover {
            fill: var(--dark-color);
        }
    }
}

.info {
    margin: 1rem 0;
    font-size: 0.85rem;
    text-transform: uppercase;
    color: var(--grey-color);
    .post-author {
        display: flex;
        align-items: center;
        margin-left: 0.5rem;
        &:before {
            content: "";
            background-color: var(--secondary-color);
            height: 1px;
            width: 20px;
            display: inline-block;
            margin-right: 0.5rem;
        }
    }
    .comments {
        display: flex;
        align-items: center;
        gap: 5px;
        a {
            background: none;
            color: var(--grey-color);
            &:hover {
                color: var(--primary-color);
            }
        }
        svg {
            fill: var(--primary-color);
        }
    }
    &.ihead,
    &.ifoot {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        flex-wrap: wrap;
        @media only screen and (max-width: $small) {
            flex-wrap: wrap;
            gap: 10px;
        }
    }
}

.list-inline {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    a {
        background: none;
        color: var(--secondary-color);
        display: inline-flex;
        &:hover {
            color: var(--primary-color);
        }
    }
}

.main-wrapper {
    .category,
    .tags {
        display: flex;
        gap: 0.5rem;
        margin: 1rem 0;
        flex-wrap: wrap;
        a {
            display: flex;
            align-items: center;
            background: none;
            &:after {
                content: "";
                background-color: var(--grey-color);
                height: 3px;
                width: 3px;
                display: inline-block;
                margin-left: 0.25rem;
                margin-right: 0.25rem;
                margin-top: 3px;
                border-radius: 50%;
            }
            &:last-child:after {
                display: none;
            }
        }
    }
}

.social-share {
    .list-inline {
        gap: 7px;
        li {
            display: inline-flex;

            svg {
                height: 1rem;
                width: auto;
                fill: var(--dark-color);
                &:hover {
                    fill: var(--primary-color);
                }
            }
        }
    }
}

.related-posts {
    margin: 4rem 0 0;
    .post-holder {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
        grid-column-gap: 2rem;

        .news-snippet {
            margin-bottom: 2rem;
            flex-wrap: nowrap;
            flex-direction: column;
            justify-content: flex-start;
            padding: 0;
            border: 0;
            .featured-image {
                display: flex;
                width: 100%;
            }
            h5 {
                margin: 1rem 0;
                line-height: 1.5;
                font-size: 1.07rem;
            }
            .summary {
                padding: 0;
            }
        }
    }
}

.posts-navigation {
    .nav-links {
        display: flex;
        justify-content: space-between;
    }
}

// pagination
.pagination {
    margin-top: 2rem;
    ul {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        justify-content: center;
        gap: 1rem;
        align-items: center;
        .active {
            a {
                width: 40px;
                height: 40px;
                display: flex;
                background: var(--secondary-color);
                place-content: center;
                place-items: center;
                border-radius: 1000px;
                color: var(--light-color);
            }
        }
    }
}
