.inside-page {
    .inner-article-content {
        a {
            background: linear-gradient(var(--secondary-color), var(--secondary-color));
            background-position: 0 100%;
            background-repeat: no-repeat;
            background-size: 100% 1px;
            color: var(--secondary-color);
            &:hover {
                background-size: 0 1px;
                color: var(--secondary-color);
            }
        }
    }
}
