.inside-page {
    .inner-article-content {
        a {
            // background: linear-gradient(var(--primary-color), var(--primary-color));
            // background-position: 0 100%;
            // background-repeat: no-repeat;
            // background-size: 100% 1px;

            &:hover {
                background-size: 0 1px;
                color: var(--primary-color);
            }
        }
    }
}

.wp-block-button__link {
    color: var(--light-color) !important;
    background: var(--primary-color);

    &:hover {
        background: var(--secondary-color);
    }
}
.wp-block-button.is-style-outline {
    .wp-block-button__link {
        border-color: var(--primary-color);
        color: var(--primary-color) !important;

        &:hover {
            border-color: var(--secondary-color);
            color: var(--secondary-color) !important;
        }
    }
}

.no-results {
    .page-content {
        padding: 25px;
        background: #f5f5f5;

        p {
            margin-top: 0;
        }

        .search-form {
            display: grid;
            grid-template-columns: 4fr 1fr;
            grid-gap: 0.625em;

            label {
                display: inline-block;
                vertical-align: top;
            }
            input {
                height: 50px;
                width: 100%;
                padding: 5px 15px;
                border-radius: 0;
            }
            input[type="submit"] {
                padding: 0.5rem 1rem;
                width: auto;
            }
        }
    }
}
