    .news-snippet{
        margin-bottom: 4rem;
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        @media only screen and (max-width: $small) {
            flex-direction: column;
        }
        .news-title{
            margin:1rem 0;
            a{
                color:var(--primary-color);
            }
        }
        .featured-image{
            margin:1rem 0;
            background: none;
            width: 45%;
            display: flex;
            @media only screen and (max-width: $small) {
                width: 100%;
            }
            img{
                width: 100%;
                height: fit-content;
                object-fit: cover;
            }
        }
        .summary{
            width: 100%;
            padding: 0 2rem;
            .excerpt{
                margin: 1rem 0;
                color:var(--light-color);
            }
            @media only screen and (max-width: $small) {
                padding: 1rem;
            }
        }
    }

    .has-post-thumbnail .summary{
        width: 65%;
        @media only screen and (max-width: $small) {
            width: 100%;
        }
    }
    

    
    a.readmore{
        display: flex;
        align-items: center;
        gap:7px;
        svg{
            height: 19px;
            fill:var(--secondary-color);
            &:hover{
                fill:var(--light-color);
            }
        }
        &:hover{
            color:var(--light-color);
        }
    }


.info {
    margin:1rem 0;
    font-size: 0.75rem;
    text-transform: uppercase;
    color: var(--secondary-color);
    .post-author{
        display: flex;
        align-items: center;
        margin-left: 0.5rem;
        &:before{
            content: "";
            background-color: var(--secondary-color);
            height: 1px;
            width: 20px;
            display: inline-block;
            margin-right: 0.5rem;
        }
    }
    .comments{
        display: flex;
        align-items: center;
        gap:5px;
        a{
            background: none;
            color: var(--secondary-color);
            &:hover{
                color: var(--primary-color);
            }
        }
        svg{
            fill: var(--secondary-color);
        }
    }
    &.ihead,&.ifoot{
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media only screen and (max-width: $small) {
            flex-wrap: wrap;
            gap: 10px;
        }
    }
}

.list-inline{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    a{
        background: none;
        color: var(--secondary-color);
        display: inline-flex;
        &:hover{
            color: var(--primary-color);
        }
    }

}



.main-wrapper{
.category,.tags{
    display: flex;
    gap:0.5rem;
    margin: 1rem 0;
    flex-wrap: wrap;
    a{
        display: flex;
        align-items: center;
        background: none;
        color: var(--grey-color);
    &:after{
        content: "";
        background-color: var(--grey-color);
        height: 3px;
        width: 3px;
        display: inline-block;
        margin-left: 0.25rem;
        margin-right: 0.25rem;
        margin-top: 3px;
        border-radius: 50%;
    }
    &:last-child:after{
        display: none;
    }
    &:hover{
        color: var(--secondary-color);
    }
}
}
}


.social-share{
    .list-inline{
        gap:7px;
    li{
        display: inline-flex;
        
    svg{
        height: 1rem;
        width: auto;
        fill:var(--primary-color);
        &:hover{
            fill:var(--secondary-color)
        }
    }
}
}
}


.related-posts{
    margin: 4rem 0;
    .post-holder{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 2rem;
        @media only screen and (max-width: $small) {
            grid-template-columns: 1fr;
        }
        .news-snippet{
            margin-bottom: 1rem;
            flex-wrap: nowrap;
            flex-direction: column;
            .featured-image{
                display: flex;
                width: 100%;
            }
            .summary{
                padding:0 1rem;
            }
            h5{
             margin: 1rem 0;
                line-height: 1.25;
            }
            }
        }
}



.posts-navigation{
    .nav-links{
        display: flex;
        justify-content: space-between;
    }
}


// pagination
.pagination{
    margin-top: 2rem;
    ul{
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        justify-content: center;
        gap: 1rem;
        .active{
            a{
                color:var(--secondary-color);
                
            }
            
        }
        a:hover{
            color:var(--secondary-color);
        }
    }
}