footer.site-footer{
    background-color: var(--dark-color);
    color: var(--light-color);
    padding:2rem 0 1rem 0;
    .site-info{
        font-size: 1rem;
        align-items: center;
        text-align: center;
        padding: 1rem 0;
        a{
            color: var(--light-color);
            &:hover{
                text-decoration: none;
                color: var(--grey-color);
            }
            &.footer-brand{
                text-decoration: underline;
                &:hover{
                    text-decoration: none;
                }
            }
        }
    }
    
}


.social-links{
    display: flex;
    justify-content: center;
    ul{
        li{
            display: flex;
            a{
                margin: 0 0.5rem;
                svg{
                    fill: var(--light-color);
                    max-width: 1rem;
                    height: 1rem;
                    &:hover{
                        fill: var(--grey-color);
                    }
                }
            }
        }
    }
}

.scroll-to-top{
    width: 2rem;
    height: 2rem;
    display: inline-block;
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    border-radius: 50%;
    background:var(--secondary-color);
    cursor: pointer;
    svg{
        width: 100%;
        fill:var(--light-color);
    }
    &:hover{
        background:var(--primary-color);
        transform: scale(0.8);
    }
}

// @media only screen and (max-width: 600px) {
//     footer{
//         color:var(--primary-color);
//     }
// }