/*--------------------------------------------------------------
  ## Menus
  --------------------------------------------------------------*/
.main-navigation {
	ul {
		padding: 0;
		margin: 0;
		ul {
			text-align: left;
			transition: all 500ms ease;
			-webkit-transition: all 500ms ease;
			-moz-transition: all 500ms ease;
			-o-transition: all 500ms ease;
			-ms-transition: all 500ms ease;
			top: 100%;
			left: 0;
			-webkit-box-shadow: 0 0px 20px rgba(166, 166, 166, 0.25);
			-moz-box-shadow: 0 0px 20px rgba(166, 166, 166, 0.25);
			box-shadow: 0 0px 20px rgba(166, 166, 166, 0.25);
			width: 220px;
			position: absolute;
			z-index: 999;
			-webkit-transform-origin: top;
			transform-origin: top;
			-webkit-animation-fill-mode: forwards;
			animation-fill-mode: forwards;
			-webkit-transform: scale(1, 0);
			transform: scale(1, 0);
			display: block;
			opacity: 0;
			background-color: var(--light-color);
			ul {
				left: 100%;
				top: 0;
				left: 100%;
				top: 0;
			}
			li {
				&:hover {
					> ul {
						opacity: 1;
						left: 100%;
					}
				}
			}
		}
		li {
			&:hover {
				> ul {
					display: block;
					opacity: 1;
					z-index: 1000;
					-webkit-transform: scale(1, 1);
					transform: scale(1, 1);
					transition: transform 0.3s ease, opacity 0.2s ease 0.1s;
					-webkit-transition: -webkit-transform 0.3s ease, opacity 0.2s ease 0.1s;
				}
			}
			&:focus {
				> ul {
					display: block;
					opacity: 1;
					z-index: 1000;
					-webkit-transform: scale(1, 1);
					transform: scale(1, 1);
					transition: transform 0.3s ease, opacity 0.2s ease 0.1s;
					-webkit-transition: -webkit-transform 0.3s ease, opacity 0.2s ease 0.1s;
				}
			}
			li {
				&:last-child {
					> a {
						border: none;
					}
				}
				a {
					&:hover {
						&:after {
							display: none;
						}
					}
				}
			}
			a {
				display: block;
				padding: 8px 20px;
				position: relative;
				z-index: 99;
				transition: all 0.3s ease;
				font-size: 0.9rem;
				text-transform: uppercase;
				letter-spacing: 1px;
				color: var(--dark-color);
				&:hover {
					color: var(--primary-color);
				}
			}
			ul {
				li {
					a {
						padding: 10px 20px !important;
					}
				}
				li.page_item_has_children {
					> a {
						&::before {
							content: "▾";
							right: 15px;
							.main-navigation {
								ul {
									li {
										ul {
											li.menu-item-has-children {
												> a {
													&::before {
														right: 20px;
														top: 10px;
														transform: rotate(-90deg);
													}
												}
											}
										}
									}
								}
							}
						}
					}
				}
				li.menu-item-has-children {
					> a {
						&::before {
							content: "›";
							right: 15px;
						}
					}
				}
			}
		}
		li.focus {
			> ul {
				display: block;
				opacity: 1;
				z-index: 1000;
				-webkit-transform: scale(1, 1);
				transform: scale(1, 1);
				transition: transform 0.3s ease, opacity 0.2s ease 0.1s;
				-webkit-transition: -webkit-transform 0.3s ease, opacity 0.2s ease 0.1s;
			}
		}
		> li {
			&:hover {
				> ul {
					opacity: 1;
					left: 0;
					z-index: 999;
					background: var(--light-color);
				}
			}
		}
		// li.current-menu-item {
		// 	// a {
		// 	// 	//color: var(--primary-color);
		// 	// }
		// }
		li.page_item_has_children {
			> a {
				&::before {
					content: "▾";
					position: absolute;
					right: 5px;
					top: 50%;
					transform: translateY(-50%);
					-webkit-transform: translateY(-50%);
					transition: all 0.3s ease-in-out;
					-webkit-transition: all 0.3s ease-in-out;
					-moz-transition: all 0.3s ease-in-out;
				}
			}
		}
		li.menu-item-has-children {
			> a {
				&::before {
					content: "▾";
					position: absolute;
					right: 5px;
					top: 50%;
					transform: translateY(-50%);
					-webkit-transform: translateY(-50%);
					transition: all 0.3s ease-in-out;
					-webkit-transition: all 0.3s ease-in-out;
					-moz-transition: all 0.3s ease-in-out;
				}
			}
		}
	}
	li {
		position: relative;
		display: inline-block;
		margin-bottom: 0;
		li {
			float: none;
			display: block;
		}
		> a {
			position: relative;
		}
		li.current_page_item {
			> a {
				&:after {
					display: none;
				}
			}
		}
		li.current-menu-item {
			> a {
				&:after {
					display: none;
				}
			}
		}
	}
	.dropdown-toggle {
		&::after {
			display: none !important;
		}
	}
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
}

@media screen and (max-width: $large) {
	/*navigation responsive*/
	/*hamburger style*/

	.menu-toggle {
		display: block;
		background: none;
		padding: 0;
		z-index: 999;
		margin: 0 auto;
	}

	.navbar-toggler {
		margin: 0 0 0 auto;
		border: 0;
		border-radius: 0;
		padding: 0;
	}

	#nav-icon {
		width: 26px;
		height: 24px;
		position: relative;
		margin: 0 auto;
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
		cursor: pointer;

		span {
			display: block;
			position: absolute;
			height: 1px;
			width: 100%;
			opacity: 1;
			left: 0;
			-webkit-transform: rotate(0deg);
			-moz-transform: rotate(0deg);
			-o-transform: rotate(0deg);
			transform: rotate(0deg);
			background: var(--primary-color);

			&:nth-child(1) {
				top: 0px;
			}

			&:nth-child(2),
			&:nth-child(3) {
				top: 9px;
			}

			&:nth-child(4) {
				top: 18px;
			}
		}
	}

	/* Icon 3 */

	.main-navigation {
		&.toggled #nav-icon span {
			&:nth-child(1) {
				top: 7px;
				width: 0%;
				left: 50%;
			}

			&:nth-child(2) {
				-webkit-transform: rotate(45deg);
				-moz-transform: rotate(45deg);
				-o-transform: rotate(45deg);
				transform: rotate(45deg);
			}

			&:nth-child(3) {
				-webkit-transform: rotate(-45deg);
				-moz-transform: rotate(-45deg);
				-o-transform: rotate(-45deg);
				transform: rotate(-45deg);
			}

			&:nth-child(4) {
				top: 7px;
				width: 0%;
				left: 50%;
			}
		}

		ul {
			li {
				a {
					padding: 10px 15px;
					width: 100%;
				}

				&.page_item_has_children > a::before,
				&.menu-item-has-children > a::before {
					right: 15px;
				}

				ul li {
					&.page_item_has_children > a::before,
					&.menu-item-has-children > a::before {
						right: 15px;
					}
					▾ &.page_item_has_children > a::before,
					&.menu-item-has-children > a::before {
						content: "▾";
					}
				}
			}

			ul {
				visibility: initial;
				opacity: 1;
				transition: initial;
				top: initial;
				left: initial;
				width: 100%;
				position: static;
				z-index: 999;
				transform-origin: initial;
				animation-fill-mode: initial;
				transform: initial;
				box-shadow: initial;
				height: 0;
				overflow: hidden;
				background-color: #fff;
				margin: 0;
			}
		}

		li {
			display: block;
			border-bottom: 1px solid #eee;
		}

		.nav-menu {
			display: none;
			position: absolute;
			top: 100%;
			left: 0;
			right: 0;
			background: #fff;
			box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
			//   padding: 0 15px;
			z-index: 999;
			margin: 0;
		}

		&.toggled .nav-menu {
			display: block;
			z-index: 999;
		}

		ul {
			li {
				&:hover > ul,
				&:focus > ul,
				&.focus > ul {
					height: auto;
					overflow: visible;
					z-index: 1000;
					//   border: 1px solid #ddd;
				}
			}

			ul ul {
				left: initial;
				top: initial;
				border-style: solid none none;
				border-top: 1px solid #ddd;
			}
		}
	}

	/*end hamburger*/

	.header .header-wrapper {
		display: flex;
		flex-wrap: wrap;
	}

	.header-wrapper .main-navigation ul {
		float: none;
	}

	/*end navigation responsive*/
}

.post-navigation {
	.nav-links {
		display: flex;
		.nav-previous {
			flex: 1 0 50%;
			&:before {
				content: "←";
				margin-right: 5px;
			}
		}
		.nav-next {
			text-align: end;
			flex: 1 0 50%;
			&:after {
				content: "→";
				margin-left: 5px;
			}
		}
	}
}

/* Icon 2 */
#nav-icon3 {
	width: 40px;
	height: 30px;
	position: relative;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: 0.5s ease-in-out;
	-moz-transition: 0.5s ease-in-out;
	-o-transition: 0.5s ease-in-out;
	transition: 0.5s ease-in-out;
	cursor: pointer;
	border: none;
}

#nav-icon3 span {
	display: block;
	position: absolute;
	height: 3px;
	width: 100%;
	background: var(--primary-color);
	border-radius: 9px;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: 0.25s ease-in-out;
	-moz-transition: 0.25s ease-in-out;
	-o-transition: 0.25s ease-in-out;
	transition: 0.25s ease-in-out;
}

#nav-icon3 span:nth-child(1) {
	top: 0px;
}

#nav-icon3 span:nth-child(2),
#nav-icon3 span:nth-child(3) {
	top: 11px;
}

#nav-icon3 span:nth-child(4) {
	top: 22px;
}

.main-navigation {
	&.toggled #nav-icon3 span {
		&:nth-child(1) {
			top: 11px;
			width: 0%;
			left: 50%;
		}
		&:nth-child(2) {
			-webkit-transform: rotate(45deg);
			-moz-transform: rotate(45deg);
			-o-transform: rotate(45deg);
			transform: rotate(45deg);
		}
		&:nth-child(3) {
			-webkit-transform: rotate(-45deg);
			-moz-transform: rotate(-45deg);
			-o-transform: rotate(-45deg);
			transform: rotate(-45deg);
		}
		&:nth-child(4) {
			top: 11px;
			width: 0%;
			left: 50%;
		}
	}
}

//   #nav-icon3.open span:nth-child(1) {
// 	top: 11px;
// 	width: 0%;
// 	left: 50%;
//   }

//   #nav-icon3.open span:nth-child(2) {
// 	-webkit-transform: rotate(45deg);
// 	-moz-transform: rotate(45deg);
// 	-o-transform: rotate(45deg);
// 	transform: rotate(45deg);
//   }

//   #nav-icon3.open span:nth-child(3) {
// 	-webkit-transform: rotate(-45deg);
// 	-moz-transform: rotate(-45deg);
// 	-o-transform: rotate(-45deg);
// 	transform: rotate(-45deg);
//   }

//   #nav-icon3.open span:nth-child(4) {
// 	top: 11px;
// 	width: 0%;
// 	left: 50%;
//   }
