header a{
   transition: all 0.3s ease;
}

header.site-header{
   padding: 0;
   position: relative;
   .header-wrapper{
      padding: 1rem 0;
   .site-header-wrapper{
      display: flex;
      align-items:center;
      justify-content: space-between;
    .site-branding{
        min-width: var(--logo-size);
        display: flex;
        align-items: center;
        gap: 10px;
        width: 350px;
        .custom-logo-link{
           background: none;
            img{
                width: var(--logo-size);
                max-width: none;
            }
        }
        .site-identity{
            width: max-content;
            .site-title{
               font-size: var(--site-identity-font-size);
               font-family: var(--site-identity-font-family);
               line-height: 1.25em;
               width: max-content;
               .logo{
                  color: var(--site-title-color);
               }
            }
            .site-description{font-size: 1rem;width: max-content;}
        }
     }
   }
   }
   &.sticky-header{
      position: sticky;
      top: 0;
      z-index:100;
   }
}


.top-bar{
   background-color: var(--dark-color);
   padding:0.5rem 0;
   .social-links{
      justify-content: flex-end;
      @media only screen and (max-width: $small) {
         
      }
   }
}



.logged-in header.sticky-header{
   top:32px;
}



// breadcrumb
#breadcrumbs{
   list-style:none;
   margin:3rem 0 1rem 0;
   padding:0;
   overflow:hidden;
   font-size: 0.75rem;
   text-transform: uppercase;
      li{
         display:inline-block;
         vertical-align:middle;
         margin-right:15px;
         &.separator{
            font-size:18px;
            font-weight:100;
            color:#ccc;
         }
   }
}
// breadcrumb