.news-snippet {
    padding: 2rem 2rem 1rem;
    justify-content: space-between;
    flex-wrap: nowrap;
    background-color: var(--light-color);
    box-shadow: 0px 0px 16px -4px rgb(0 0 0 / 15%);
    height: 100%;

    @media only screen and (max-width: 768px) {
        padding: 1.5rem;
        margin: 0 0 30px;
    }

    .image-content {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(223px, 1fr));
        grid-gap: 30px;

        @media only screen and (max-width: $small) {
            grid-gap: 10px;
        }
    }
    .news-title {
        margin: 1rem 0;
        a {
            color: var(--primary-color);
            background: linear-gradient(var(--secondary-color), var(--secondary-color));
            background-size: 0 1px;
            background-position: 0 100%;
            background-repeat: no-repeat;

            &:hover {
                background-size: 100% 1px;
                color: var(--secondary-color);
            }
        }
    }
    .featured-image {
        background: none;
        display: flex;
        @media only screen and (max-width: $small) {
            width: 100%;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .summary {
        width: 100%;
        .excerpt {
            margin: 1rem 0 0;
        }
        .tags {
            a {
                margin: 0 10px 5px 0;
            }
        }
    }
}

section.page-section {
    overflow: hidden;
}

.site-main {
    .post:first-child {
        .news-snippet {
            padding: 2rem;

            @media only screen and (max-width: 768px) {
                padding: 1.5rem;
            }

            .image-content {
                margin: 0;
                @media only screen and (max-width: 768px) {
                    grid-template-columns: 1fr;
                }
            }

            .news-title {
                font-size: 2.074rem;

                @media only screen and (max-width: $medium) {
                    font-size: 1.44rem;
                }
            }
        }
    }
}

.home {
    .site-main {
        margin: 0 0 60px;
    }
}

/*masorny*/
.blog-grid-view {
    display: grid;
    grid-gap: 60px;

    @media only screen and (max-width: $small) {
        margin: 0;
    }

    @media only screen and (max-width: 768px) {
        display: block;

        .type-post {
            margin: 0 0 30px;
        }
    }
    .type-post {
        &:first-child {
            grid-column-start: 1;
            grid-column-end: 3;

            @media only screen and (max-width: 768px) {
                grid-template-columns: 1fr;
                grid-gap: 10px;
            }
        }
    }
}
/*masorny*/

.readmore {
    display: flex;
    align-items: center;
    gap: 7px;
    svg {
        height: 19px;
        fill: var(--primary-color);
        &:hover {
            fill: var(--dark-color);
        }
    }
}

.info {
    margin: 1rem 0;
    font-size: 0.75rem;
    text-transform: uppercase;
    color: var(--grey-color);
    .post-author {
        display: flex;
        align-items: center;
        margin-left: 0.5rem;
        &:before {
            content: "";
            background-color: var(--grey-color);
            height: 1px;
            width: 20px;
            display: inline-block;
            margin-right: 0.5rem;
        }
    }
    .comment-category {
        display: flex;
        flex-wrap: wrap;
        grid-gap: 0 1rem;

        .comments {
            display: flex;
            align-items: center;
            gap: 5px;
            a {
                background: none;
                color: var(--grey-color);
                &:hover {
                    color: var(--secondary-color);
                }
            }
            svg {
                fill: var(--secondary-color);
            }
        }

        .category {
            a {
                color: var(--secondary-color);
                margin: 0 10px 5px 0;

                &:hover {
                    color: var(--primary-color);
                }
            }
        }
    }
    &.ihead,
    &.ifoot {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media only screen and (max-width: $small) {
            flex-wrap: wrap;
            gap: 10px;
        }
    }
}

.list-inline {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    a {
        background: none;
        color: var(--grey-color);
        display: inline-flex;
        &:hover {
            color: var(--primary-color);
        }
    }
}

.main-wrapper {
    .category,
    .tags {
        display: flex;
        gap: 1rem;
        margin: 0.5rem 0;
        flex-wrap: wrap;
        a {
            display: flex;
            align-items: center;
            background: none;
            color: var(--secondary-color);

            &:hover {
                color: var(--primary-color);
            }
        }
    }
}

.social-share {
    .list-inline {
        gap: 7px;
        li {
            display: inline-flex;

            svg {
                height: 1rem;
                width: auto;
                fill: var(--secondary-color);
                &:hover {
                    fill: var(--primary-color);
                }
            }
        }
    }
}

.related-posts {
    // margin: 4rem 0;
    .post-holder {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 2rem;
        @media only screen and (max-width: $small) {
            grid-template-columns: 1fr;
        }
        .news-snippet {
            margin-bottom: 1rem;
            flex-wrap: nowrap;
            flex-direction: column;
            background-color: var(--light-color);
            box-shadow: 0px 0px 16px -4px rgb(0 0 0 / 15%);
            .featured-image {
                display: flex;
                width: 100%;
            }
            h5 {
                margin: 1rem 0;
                line-height: 1.25;
            }
        }
    }
}

.posts-navigation {
    .nav-links {
        display: flex;
        justify-content: space-between;
    }
}

// pagination
.pagination {
    margin-top: 3rem;
    ul {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        justify-content: center;
        gap: 1rem;
        .active {
            a {
                color: var(--dark-color);
            }
        }
    }
}
