// :root{
//     --font-size:10px;
//     --dark-color: #333;
//     --grey-color:#999;
//     --light-color: #ccc;
//     --secondary-color: #cad49e;
//     --primary-color: #da6464;
//     --site-title-color:#908;

//     --primary-font: 'Jost', sans-serif;
//     --secondary-font: 'Source Serif Pro', sans-serif;

// }

//html,body{font-size:16px;}
$small: 500px;
$medium: 900px;
$large: 1200px;

body {
    font-family: var(--primary-font);
    line-height: var(--line-height);
    font-weight: var(--font-weight);
    color: var(--dark-color);
    color: var(--dark-color);
}

.container {
    max-width: var(--container-width);
    margin: 0 auto;
    padding: 0 40px;
    @media only screen and (max-width: 800px) {
        padding: 0 20px;
    }
}

a,
a:visited {
    transition: all 0.2s ease;
    color: var(--primary-color);
    text-decoration: none;
    background: linear-gradient(var(--primary-color), var(--primary-color));
    background-size: 0 1px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    &:hover,
    &:focus,
    &:active {
        color: var(--dark-color);
        background-size: 100% 1px;
    }
}

.main-wrapper {
    display: grid;
    grid-template-columns: 9fr 3fr;
    column-gap: 60px;
    row-gap: 40px;
    margin: 3rem 0;
    @media only screen and (max-width: $medium) {
        grid-template-columns: 1fr;
    }
}

// typography
.page-title {
    margin-top: 0;
}
.widget-title,
.widget_block h2 {
    font-size: 1rem;
    margin: 0 0 1rem 0;
    font-family: var(--primary-font);
    text-transform: uppercase;
}

h1,
h2,
h3 {
    font-family: var(--secondary-font);
}

h1 {
    font-size: 2.488rem;
    font-weight: 400;
    line-height: 1.5;
}
h2 {
    font-size: 2.074rem;
    line-height: 1.5;
    font-weight: 400;
}
h3 {
    font-size: 1.728rem;
    line-height: 1.5;
    font-weight: 400;
}
h4 {
    font-size: 1.44rem;
}
h5 {
    font-size: 1.2rem;
}
h6 {
    font-size: 1rem;
    line-height: 1.5;
}

@media only screen and (max-width: $medium) {
    h1 {
        font-size: 2.074rem;
    }
    h2 {
        font-size: 1.728rem;
    }
    h3 {
        font-size: 1.44rem;
    }
    h4 {
        font-size: 1.2rem;
    }
    h5 {
        font-size: 1.15rem;
    }
}

@media only screen and (max-width: $small) {
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.5rem;
    }
    // h3 {
    //     font-size: 1.25rem;
    // }
    // h4 {
    //     font-size: 1.15rem;
    // }
    // h4 {
    //     font-size: 1.5rem;
    // }
    // h4 {
    //     font-size: 1rem;
    // }
}
// typography

// buttons

.wp-block-search__button,
input[type="submit"],
input[type="button"] {
    background-color: var(--secondary-color);
    border: none;
    color: var(--light-color);
    padding: 1.25rem 3rem;
    border-radius: 0;
    cursor: pointer;
    &:hover {
        background-color: var(--primary-color);
    }
}

// buttons

// error-404
.error-404 {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    h1 {
        margin: 0;
    }
    .search-form {
        text-align: center;
        .search-field {
            padding: 18px 18px 19px 18px;
            border-radius: 0;
            @media only screen and (max-width: $small) {
                width: 100%;
            }
        }
        input[type="submit"] {
            @media only screen and (max-width: $small) {
                width: 100%;
                margin-top: 15px;
            }
        }
    }
}

// error-404
