.inside-page {
    .inner-article-content {
        font-family: var(--secondary-font);
        a {
            background-size: 100% 1px;
            color: var(--secondary-color);
            &:hover {
                background-size: 0 1px;
                color: var(--primary-color);
            }
        }
    }
    .entry-footer {
        a {
            color: var(--secondary-color);
        }
    }
}
