footer.site-footer {
    background-color: var(--primary-color);
    color: var(--light-color);
    padding: 2rem 0 1rem 0;
    box-shadow: 0px -30px 100px 0px rgba(255, 255, 255, 0.2);
    .site-info {
        font-size: 1rem;
        align-items: center;
        text-align: center;
        padding: 1rem 0;
        a {
            color: var(--light-color);
            &:hover {
                text-decoration: none;
                color: var(--secondary-color);
            }
            &.footer-brand {
                text-decoration: underline;
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}

.social-links {
    display: flex;
    justify-content: center;
    ul {
        li {
            display: flex;
            a {
                margin: 0 0.5rem;
                svg {
                    fill: var(--light-color);
                    max-width: 1rem;
                    height: 1rem;
                    &:hover {
                        fill: var(--secondary-color);
                    }
                }
            }
        }
    }
}

.scroll-to-top {
    width: 3rem;
    height: 3rem;
    display: inline-block;
    position: fixed;
    right: 1rem;
    bottom: 2rem;
    border-radius: 50%;
    background: var(--secondary-color);
    cursor: pointer;
    svg {
        width: 100%;
        fill: var(--dark-color);
    }
    &:hover {
        background: var(--light-color);
    }
}

// @media only screen and (max-width: 600px) {
//     footer{
//         color:var(--primary-color);
//     }
// }
