// NEWS SNIPPET
.news-snippet {
    .news-title {
        margin-top: 0.3rem;
        margin-bottom: 0.7rem;
        // a {
        //     color: var(--primary-color);
        // }
    }
    .featured-image {
        background: none;
        margin: 0;
        display: flex;
    }
    .summary {
        .excerpt {
            margin: 0.5rem 0;
            font-family: var(--secondary-font);
            color: #555;
        }
    }
    .summary {
        margin-top: 1rem;

        .category,
        .tags {
            font-family: var(--secondary-font);
            font-weight: 400;
            font-size: 0.7rem;
            a {
                margin: 0 0.5rem 0.5rem 0;
                display: inline-block;
                vertical-align: top;
                text-transform: uppercase;
                background: none;
                position: relative;

                &:before {
                    content: ",";
                    position: absolute;
                    right: -6px;
                }

                &:last-child {
                    &:before {
                        content: none;
                    }
                }

                &:hover {
                    color: var(--secondary-color);
                    border-color: var(--secondary-color);
                }
            }
        }
    }
}
// NEWS SNIPPET

/*masorny*/
.custom-grid-view {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(223px, 1fr));
    grid-gap: 70px;

    @media screen and (max-width: 908px) {
        grid-gap: 50px;
    }
    @media screen and (max-width: 800px) {
        grid-gap: 30px;
    }

    @media screen and (max-width: $small) {
        grid-gap: 20px;
    }
}
/*masorny*/

.home {
    .archive-wrapper {
        .container {
            padding: 0 50px;
            @media only screen and (max-width: 800px) {
                padding: 0 20px;
            }

            .custom-grid-view {
                .post:first-child {
                    grid-column-start: 1;
                    grid-column-end: 5;

                    @media screen and (max-width: $medium) {
                        grid-column-end: 4;
                    }
                    @media screen and (max-width: $large) {
                        grid-column-end: 4;
                    }
                    @media screen and (max-width: 868px) {
                        grid-column-end: 3;
                    }
                    @media screen and (max-width: 800px) {
                        grid-column-end: 4;
                    }
                    @media screen and (max-width: 768px) {
                        grid-column-end: 3;
                    }
                    @media screen and (max-width: 515px) {
                        grid-column-end: 2;
                    }

                    .news-snippet {
                        display: flex;
                        flex-direction: column-reverse;

                        @media screen and (max-width: 515px) {
                            display: block;
                        }

                        .featured-image {
                            img {
                                height: 450px;
                                object-fit: cover;
                                object-position: top center;

                                @media screen and (max-width: 1089px) {
                                    height: 300px;
                                }
                                @media screen and (max-width: 515px) {
                                    height: auto;
                                }
                            }
                        }

                        .summary {
                            display: grid;
                            grid-template-columns: 2fr 1.2fr;
                            grid-gap: 70px;
                            margin: 0 0 40px;
                            align-items: end;

                            @media screen and (max-width: $medium) {
                                align-items: start;
                                grid-template-columns: 1fr 1fr;
                            }
                            @media screen and (max-width: 515px) {
                                display: block;
                                margin-top: 1rem;
                            }

                            // .category {
                            //     a {
                            //         color: var(--light-color);

                            //         &:hover {
                            //             transform: scale(1.2);
                            //         }
                            //     }
                            // }

                            .news-title {
                                font-size: 2.5rem;
                                margin: 0;

                                @media screen and (max-width: $large) {
                                    font-size: 2rem;
                                }
                                @media screen and (max-width: $medium) {
                                    font-size: 1.424rem;
                                }
                                @media screen and (max-width: 515px) {
                                    margin-top: 0.3rem;
                                    margin-bottom: 0.7rem;
                                }
                                @media screen and (max-width: $small) {
                                    font-size: 1.215rem;
                                }

                                // a {
                                //     color: var(--light-color);
                                //     background: linear-gradient(var(--light-color), var(--light-color));
                                //     background-size: 0 1px;
                                //     background-position: 0 100%;
                                //     background-repeat: no-repeat;

                                //     &:hover {
                                //         background-size: 100% 1px;
                                //     }
                                // }
                            }

                            // .excerpt {
                            //     color: var(--light-color);
                            // }

                            .info {
                                margin-bottom: 0;

                                // a {
                                //     color: var(--light-color);
                                //     background: linear-gradient(var(--light-color), var(--light-color));
                                //     background-size: 0 1px;
                                //     background-position: 0 100%;
                                //     background-repeat: no-repeat;

                                //     &:hover {
                                //         background-size: 100% 1px;
                                //     }
                                // }

                                // .comments {
                                //     svg {
                                //         fill: var(--light-color);
                                //     }
                                // }

                                // .social-share {
                                //     a {
                                //         background-size: 0;
                                //         svg {
                                //             fill: var(--light-color);
                                //         }

                                //         &:hover {
                                //             transform: scale(1.3);
                                //         }
                                //     }
                                // }
                            }
                        }
                    }
                }
            }
        }
    }
}

// READMORE
.readmore {
    display: flex;
    align-items: center;
    gap: 7px;
    font-family: var(--primary-font);

    svg {
        height: 19px;
        fill: var(--primary-color);
        &:hover {
            fill: var(--dark-color);
        }
    }
}
// READMORE

.info {
    // margin: 0.5rem 0;
    font-size: 0.85rem;
    color: var(--grey-color);

    .post-author {
        display: flex;
        align-items: center;
        margin-left: 0.5rem;
        &:before {
            content: "";
            background-color: var(--grey-color);
            height: 1px;
            width: 20px;
            display: inline-block;
            margin-right: 0.5rem;
        }
    }
    .comments {
        display: flex;
        align-items: center;
        gap: 5px;
        font-style: normal;
        font-family: var(--primary-font);
        margin: 0.5rem 0;
        a {
            background: none;
            color: var(--grey-color);
            &:hover {
                color: var(--primary-color);
            }
        }
        svg {
            fill: var(--primary-color);
        }
    }
    &.ifoot {
        text-transform: uppercase;
        font-size: 0.9rem;
        margin: 1.3rem 0;
    }
    &.ihead,
    &.ifoot {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        flex-wrap: wrap;
        @media only screen and (max-width: $small) {
        }
    }
}

.list-inline {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;

    li {
        color: var(--dark-color);
    }

    a {
        background: none;
        color: var(--dark-color);
        display: inline-flex;
        margin: 0.5rem 0;
        &:hover {
            color: var(--secondary-color);
        }
    }
}

.main-wrapper {
    .category,
    .tags {
        display: flex;
        gap: 0.5rem;
        margin: 1rem 0;
        font-family: var(--secondary-font);
        font-weight: 400;
        font-size: 0.85rem;
        text-transform: uppercase;

        a {
            display: flex;
            align-items: center;
            background: none;
            color: var(--dark-color);
            position: relative;
            margin: 0 0.5rem 0.5rem 0;

            &:before {
                content: ",";
                position: absolute;
                right: -6px;
            }

            &:last-child {
                &:before {
                    content: none;
                }
            }

            &:hover {
                color: var(--secondary-color);
                border-color: var(--secondary-color);
            }
        }
    }
}

.social-share {
    .list-inline {
        gap: 7px;
        li {
            display: inline-flex;
            font-family: var(--primary-font);

            a {
                background-size: 0;
            }

            svg {
                height: 1rem;
                width: auto;
                fill: var(--secondary-color);
                &:hover {
                    fill: var(--primary-color);
                }
            }
        }
    }
}

.related-posts {
    // margin: 4rem 0;
    .post-holder {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 2rem;
        @media only screen and (max-width: $small) {
            grid-template-columns: 1fr;
        }
        .news-snippet {
            margin-bottom: 1rem;
            flex-wrap: nowrap;
            flex-direction: column;
            .featured-image {
                display: flex;
                width: 100%;
            }
            h5 {
                margin: 1rem 0;
                line-height: 1.25;
                font-family: var(--primary-font);
            }
        }
    }
}

.posts-navigation {
    .nav-links {
        display: flex;
        justify-content: space-between;
    }
}

// pagination
.pagination {
    margin-top: 2rem;
    ul {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        justify-content: center;
        gap: 1rem;
        li {
            a {
                padding: 8px 15px;
                background: var(--primary-color);
                color: var(--light-color);

                &:hover {
                    background: var(--secondary-color);
                    color: var(--light-color);
                }
            }
            &.active {
                a {
                    background: var(--secondary-color);
                }
            }
        }
    }
}
