// NEWS SNIPPET
.news-snippet {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0px 0px 30px -10px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    height: 100%;

    .news-title {
        margin-top: 0.3rem;
        margin-bottom: 0.7rem;
        word-break: break-word;
        // a {
        //     color: var(--primary-color);
        // }
    }
    .featured-image {
        background: none;
        margin: 0;
        display: flex;
        height: 250px;
    }
    .summary {
        .excerpt {
            margin: 0.5rem 0;
            font-family: var(--secondary-font);
            color: #555;
        }
    }
    .summary {
        margin-top: 30px;
        padding: 0 30px 5px;

        @media only screen and (max-width: $medium) {
            margin-top: 20px;
            padding: 0 20px 0px;
        }

        .category,
        .tags {
            font-family: var(--secondary-font);
            font-weight: 500;
            font-size: 0.7rem;
            a {
                margin: 0 0.5rem 0.5rem 0;
                display: inline-block;
                vertical-align: top;
                text-transform: uppercase;
                background: none;
                position: relative;
                color: var(--secondary-color);

                &:before {
                    content: ",";
                    position: absolute;
                    right: -6px;
                }

                &:last-child {
                    &:before {
                        content: none;
                    }
                }

                &:hover {
                    color: var(--primary-color);
                    border-color: var(--primary-color);
                }
            }
        }
    }
}
// NEWS SNIPPET

/*masorny*/
.custom-grid-view {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-gap: 50px;

    @media screen and (max-width: $medium) {
        grid-gap: 30px;
    }
}
/*masorny*/

// READMORE
.readmore {
    display: flex;
    align-items: center;
    gap: 7px;
    font-family: var(--primary-font);
    font-weight: 500;
    color: var(--primary-color) !important;

    svg {
        height: 19px;
        fill: var(--primary-color);
        &:hover {
            fill: var(--dark-color);
        }
    }
}
// READMORE

.info {
    // margin: 0.5rem 0;
    font-size: 0.85rem;
    color: var(--grey-color);

    .post-author {
        display: flex;
        align-items: center;
        margin-left: 0.5rem;
        &:before {
            content: "";
            background-color: var(--grey-color);
            height: 1px;
            width: 20px;
            display: inline-block;
            margin-right: 0.5rem;
        }
    }
    .comments {
        display: flex;
        align-items: center;
        gap: 5px;
        font-style: normal;
        font-family: var(--primary-font);
        margin: 0.5rem 0;
        a {
            background: none;
            color: var(--grey-color);
            &:hover {
                color: var(--primary-color);
            }
        }
        svg {
            fill: var(--grey-color);
        }
    }
    &.ifoot {
        text-transform: uppercase;
        font-size: 0.9rem;
        margin: 1.3rem 0;

        .social-share {
            ul {
                li {
                    a {
                        display: block;
                    }
                }
            }
        }
    }
    &.ihead,
    &.ifoot {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 5px;
        flex-wrap: wrap;
        width: 100%;
    }
}

.list-inline {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;

    li {
        color: var(--dark-color);
    }

    a {
        background: none;
        color: var(--dark-color);
        display: inline-flex;
        margin: 0.5rem 0;
        &:hover {
            color: var(--secondary-color);
        }
    }
}

.main-wrapper {
    .category,
    .tags {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        margin: 0.7rem 0;
        font-family: var(--secondary-font);
        font-weight: 400;
        font-size: 0.85rem;
        text-transform: uppercase;

        a {
            display: flex;
            align-items: center;
            background: none;
            color: var(--dark-color);
            position: relative;
            margin: 0 0.5rem 0.5rem 0;

            &:before {
                content: ",";
                position: absolute;
                right: -6px;
            }

            &:last-child {
                &:before {
                    content: none;
                }
            }

            &:hover {
                color: var(--secondary-color);
                border-color: var(--secondary-color);
            }
        }
    }
}

.social-share {
    .list-inline {
        gap: 7px;
        li {
            display: inline-flex;
            font-family: var(--primary-font);

            svg {
                height: 1rem;
                width: auto;
                fill: var(--dark-color);
                &:hover {
                    fill: var(--primary-color);
                }
            }
        }
    }
}

.related-posts {
    margin: 50px 0 0;

    .main-title {
        color: var(--light-color);
        margin-top: 0;
        text-align: center;
    }

    .post-holder {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
        grid-gap: 2rem;

        .news-snippet {
            flex-wrap: nowrap;
            flex-direction: column;
            height: auto;

            .featured-image {
                display: flex;
                width: 100%;
            }

            .summary {
                margin-top: 20px;
                padding: 0 20px;
            }
        }
    }
}

.posts-navigation {
    .nav-links {
        display: flex;
        justify-content: space-between;
    }
}

// pagination
.pagination {
    margin-top: 3rem;

    @media screen and (max-width: $medium) {
        margin-top: 2rem;
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        margin: 0;
        padding: 0;
        justify-content: center;
        gap: 1rem;

        li {
            a {
                padding: 7px 17px;
                background: rgba(255, 255, 255, 0.9);
                border-radius: 4px;
                display: block;
                box-shadow: 0px 0px 30px -10px rgba(0, 0, 0, 0.5);
                font-weight: 500;
            }
        }

        .active {
            a {
                color: var(--primary-color);
            }
        }
    }
}
