.news-snippet {
    margin-bottom: 2.5rem;
    padding: 0 0 2.5rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    background-color: var(--light-color);
    border-bottom: 1px dotted #bbb;

    @media only screen and (max-width: $small) {
        flex-direction: column;
        padding: 0;
    }
    .news-title {
        margin: 1rem 0;
        a {
            color: var(--secondary-color);
            background: linear-gradient(var(--primary-color), var(--primary-color));
            background-size: 0 1px;
            background-position: 0 100%;
            background-repeat: no-repeat;

            &:hover {
                color: var(--primary-color);
                background-size: 100% 1px;
            }
        }
    }
    .featured-image {
        background: none;
        width: 40%;
        display: flex;
        @media only screen and (max-width: $small) {
            width: 100%;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .featured-image + .summary {
        padding: 1rem 2rem;

        @media only screen and (max-width: $small) {
            padding: 0;
        }
    }

    .summary {
        width: 100%;

        .excerpt {
            margin: 1rem 0;
        }
    }
}

.has-post-thumbnail .summary {
    width: 60%;
    @media only screen and (max-width: $small) {
        width: 100%;
    }
}

.site-main {
    .post:first-child {
        padding: 0 0 2.5rem;
        margin-bottom: 2.5rem;
        border-bottom: 1px dotted #bbb;

        .news-snippet {
            position: relative;
            flex-direction: column;
            padding: 0;
            margin-bottom: 0;
            border: 0;

            .featured-image {
                width: 100%;
                height: 500px;
                position: relative;

                &:after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background: rgba(0, 0, 0, 0.6);
                }
            }
            .summary {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                -webkit-transform: translate(-50%, -50%);
                width: 100%;
                text-align: center;
                padding: 1rem 2rem;

                .info {
                    flex-direction: column;
                    margin: 2rem 0;
                    font-size: 0.85rem;
                    .comments,
                    .social-share {
                        display: none;
                    }

                    .list-inline {
                        a {
                            color: var(--light-color);

                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }

                    .post-author {
                        &::before {
                            background-color: var(--light-color);
                        }
                    }

                    .readmore {
                        padding: 10px 20px;
                        border: 1px solid var(--light-color);
                        color: var(--light-color);

                        &:hover {
                            background: var(--light-color);
                            color: var(--primary-color);
                        }
                    }
                }

                .news-title {
                    font-size: 3rem;

                    @media screen and (max-width: $medium) {
                        font-size: 2rem;
                    }

                    a {
                        color: var(--light-color);
                        background: linear-gradient(var(--light-color), var(--light-color));
                        background-size: 0 1px;
                        background-position: 0 100%;
                        background-repeat: no-repeat;

                        &:hover {
                            background-size: 100% 1px;
                        }
                    }
                }

                .excerpt {
                    color: var(--light-color);
                }

                .category,
                .tags {
                    display: none;
                }
            }
        }
    }
}

.readmore {
    display: flex;
    align-items: center;
    gap: 7px;

    svg {
        height: 19px;
        fill: var(--primary-color);
        &:hover {
            fill: var(--dark-color);
        }
    }
}

.info {
    margin: 1rem 0;
    font-size: 0.75rem;
    text-transform: uppercase;
    color: var(--grey-color);
    .post-author {
        display: flex;
        align-items: center;
        margin-left: 0.5rem;
        &:before {
            content: "";
            background-color: var(--grey-color);
            height: 1px;
            width: 20px;
            display: inline-block;
            margin-right: 0.5rem;
        }
    }
    .comments {
        display: flex;
        align-items: center;
        gap: 5px;
        a {
            background: none;
            color: var(--grey-color);
            &:hover {
                color: var(--primary-color);
            }
        }
        svg {
            fill: var(--primary-color);
        }
    }
    &.ihead,
    &.ifoot {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        flex-wrap: wrap;
        @media only screen and (max-width: $small) {
            flex-wrap: wrap;
            gap: 10px;
        }
    }
}

.list-inline {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    a {
        background: none;
        color: var(--grey-color);
        display: inline-flex;
        &:hover {
            color: var(--primary-color);
        }
    }
}

.main-wrapper {
    .category,
    .tags {
        display: flex;
        gap: 0.5rem;
        margin: 1rem 0;
        flex-wrap: wrap;
        a {
            display: flex;
            align-items: center;
            background: none;
            &:after {
                content: "";
                background-color: var(--grey-color);
                height: 3px;
                width: 3px;
                display: inline-block;
                margin-left: 0.25rem;
                margin-right: 0.25rem;
                margin-top: 3px;
                border-radius: 50%;
            }
            &:last-child:after {
                display: none;
            }
        }
    }
}

.social-share {
    .list-inline {
        gap: 7px;
        li {
            display: inline-flex;

            svg {
                height: 1rem;
                width: auto;
                fill: var(--dark-color);
                &:hover {
                    fill: var(--primary-color);
                }
            }
        }
    }
}

.related-posts {
    // margin: 4rem 0;
    .post-holder {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
        grid-column-gap: 2rem;

        .news-snippet {
            margin-bottom: 2rem;
            flex-wrap: nowrap;
            flex-direction: column;
            justify-content: flex-start;
            padding: 0;
            border: 0;
            .featured-image {
                display: flex;
                width: 100%;
            }
            h5 {
                margin: 1rem 0;
                line-height: 1.25;
            }
            .summary {
                padding: 0;
            }
        }
    }
}

.posts-navigation {
    .nav-links {
        display: flex;
        justify-content: space-between;
    }
}

// pagination
.pagination {
    margin-top: 2rem;
    ul {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        justify-content: center;
        gap: 1rem;
        .active {
            a {
                color: var(--dark-color);
            }
        }
    }
}
