header a {
   transition: all 0.3s ease;
}

header.site-header {
   padding: 0;
   position: relative;
   // background-color: var(--light-color);
   .header-wrapper {
      padding: 2rem 0 0;

      @media only screen and (max-width: $large) {
         padding: 1rem 0;
         border: 1px dotted #bbb;
         border-style: dotted none;
      }

      .site-header-wrapper {
         display: flex;
         align-items: center;
         justify-content: space-between;
         flex-direction: column;
         gap: 1.5rem;

         @media only screen and (max-width: $large) {
            flex-direction: row;
         }

         .site-branding {
            min-width: var(--logo-size);
            display: flex;
            align-items: center;
            gap: 10px;
            .custom-logo-link {
               background: none;
               img {
                  width: var(--logo-size);
                  max-width: none;
               }
            }
            .site-identity {
               width: max-content;
               text-align: center;
               .site-title {
                  font-size: var(--site-identity-font-size);
                  font-family: var(--site-identity-font-family);
                  line-height: 1.25em;
                  font-style: italic;
                  margin-bottom: 0.5rem;

                  @media screen and (max-width: $small) {
                     font-size: 26px;
                  }

                  .logo {
                     color: var(--site-title-color);
                  }
               }
               .site-description {
                  font-size: 1rem;
                  font-family: var(--primary-font);
               }
            }
         }
         .main-navigation {
            width: 100%;
            text-align: center;
            border: 1px dotted #bbb;
            border-style: dotted none;

            @media screen and (max-width: $large) {
               border: 0;
               width: auto;
            }
         }
      }
   }
   &.sticky-header {
      position: sticky;
      top: 0;
      z-index: 100;
   }
}

.top-bar {
   // background-color: var(--dark-color);

   .social-links {
      justify-content: flex-end;
      padding: 0.5rem 0;
      z-index: 1;
      ul {
         li {
            a {
               svg {
                  fill: var(--dark-color);
               }
            }
         }
      }
   }
   .top-wrapper {
      display: flex;
      justify-content: space-between;
      position: relative;
      border-bottom: 1px dotted #bbb;
      min-height: 32px;

      @media screen and (max-width: $large) {
         border: 0;
      }
   }
}

.logged-in header.sticky-header {
   top: 32px;
}

// breadcrumb
#breadcrumbs {
   list-style: none;
   margin: 3rem 0 1rem 0;
   padding: 0;
   overflow: hidden;
   font-size: 0.75rem;
   text-transform: uppercase;
   li {
      display: inline-block;
      vertical-align: middle;
      margin-right: 15px;
      &.separator {
         font-size: 18px;
         font-weight: 100;
         color: #ccc;
      }
   }
}
// breadcrumb

.site-header .search-form {
   position: absolute;
   left: 0;
   top: 0;

   @media only screen and (max-width: $small) {
      left: -20px;
      right: -20px;
   }
}

.site-header {
   .search-field {
      background-color: transparent;
      background-image: url(images/search-b.svg);
      background-position: 5px center;
      background-repeat: no-repeat;
      background-size: 20px;
      border: none;
      // cursor: pointer;
      height: 32px;
      margin: 0 0;
      padding: 0 5px 0 35px;
      border-radius: 0;
      position: relative;
      -webkit-transition: width 400ms ease, background 400ms ease;
      transition: width 400ms ease, background 400ms ease;
      width: 320px;
      color: var(--dark-color) !important;
      @media only screen and (max-width: $small) {
         background-position: 15px center;
         width: 0;
      }
      &:focus {
         background-color: #fff;
         background-image: url(images/search-b.svg);
         border: none;
         cursor: text;
         outline: 0;
         // width: 320px;
         z-index: 2;
         @media only screen and (max-width: $small) {
            width: 100%;
         }
      }
      &::placeholder {
         color: var(--dark-color) !important;
         font-weight: 300;
      }
   }
   .search-submit {
      display: none;
   }
}
