.inside-page {
    .inner-article-content {
        a {
            background: linear-gradient(var(--primary-color), var(--primary-color));
            background-position: 0 100%;
            background-repeat: no-repeat;
            background-size: 100% 1px;
            &:hover {
                background-size: 0 1px;
                color: var(--primary-color);
            }
        }
    }
}
