.news-snippet{
    margin-bottom: 4rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    background-color: var(--light-color);
    @media only screen and (max-width: $small) {
        flex-direction: column;
    }
    .news-title{
        margin:1rem 0;
        a{
            color:var(--secondary-color);

            &:hover{
                color: var(--primary-color);
            }
        }
    }
    .featured-image{
        background: none;
        width: 40%;
        display: flex;
        @media only screen and (max-width: $small) {
            width: 100%;
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .summary{
        width: 100%;
        padding: 1rem 2rem;
        .excerpt{
            margin: 1rem 0 1.5rem;
        }
    }
}

.has-post-thumbnail .summary{
    width: 60%;
    @media only screen and (max-width: $small) {
        width: 100%;
    }
}


.site-main{
    .post:first-child{
        .news-snippet{
            position: relative;
            flex-direction: column;
            background: transparent;

            .featured-image{
                width: 100%;
                height: 320px;
                overflow: hidden;
            }

            .featured-image + .summary{
                width: 90%;
                margin: -80px auto 0;
            }
            .summary{
                background: var(--light-color);
                width: 100%;
                margin: 0 auto;
                
                @media only screen and (max-width: $medium) {
                    width:100%;
                    position: relative;
                }

                

                

                

                
            }
        }
    }
}


.readmore{
    display: flex;
    align-items: center;
    gap:7px;
    svg{
        height: 19px;
        fill:var(--primary-color);
        &:hover{
            fill:var(--dark-color);
        }
    }
}


.info {
    margin:1rem 0;
    font-size: 0.75rem;
    text-transform: uppercase;
    color: var(--grey-color);
    .post-author{
        display: flex;
        align-items: center;
        margin-left: 0.5rem;
        &:before{
            content: "";
            background-color: var(--grey-color);
            height: 1px;
            width: 20px;
            display: inline-block;
            margin-right: 0.5rem;
        }
    }
    .comment-category{
        display: flex;
        flex-wrap: wrap;
        grid-gap: 0 1rem;

        .comments{
            display: flex;
            align-items: center;
            gap:5px;
            a{
                background: none;
                color: var(--grey-color);
                &:hover{
                    color: var(--primary-color);
                }
            }
            svg{
                fill: var(--primary-color);
            }
        }
    }
    &.ihead,&.ifoot{
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media only screen and (max-width: $small) {
            flex-wrap: wrap;
            gap: 10px;
        }
    }
}

.list-inline{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    a{
        background: none;
        color: var(--grey-color);
        display: inline-flex;
        &:hover{
            color: var(--primary-color);
        }
    }

}



.main-wrapper{
.category,.tags{
    display: flex;
    gap: 1rem;
    margin: 0.5rem 0;
    flex-wrap: wrap;
    a{
        display: flex;
        align-items: center;
        background: none;
        color: var(--grey-color);

        &:hover{
            color: var(--primary-color);
        }
    // &:after{
    //     content: "";
    //     background-color: var(--grey-color);
    //     height: 3px;
    //     width: 3px;
    //     display: inline-block;
    //     margin-left: 0.25rem;
    //     margin-right: 0.25rem;
    //     margin-top: 3px;
    //     border-radius: 50%;
    // }
    // &:last-child:after{
    //     display: none;
    // }
}
}
}


.social-share{
    .list-inline{
        gap:7px;
    li{
        display: inline-flex;
        
    svg{
        height: 1rem;
        width: auto;
        fill:var(--dark-color);
        &:hover{
            fill:var(--primary-color)
        }
    }
}
}
}


.related-posts{
    margin: 4rem 0;
    .post-holder{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 2rem;
        @media only screen and (max-width: $small) {
            grid-template-columns: 1fr;
        }
        .news-snippet{
            margin-bottom: 1rem;
            flex-wrap: nowrap;
            flex-direction: column;
            .featured-image{
                display: flex;
                width: 100%;
            }
            h5{
             margin: 1rem 0;
                line-height: 1.25;
            }
            }
        }
}



.posts-navigation{
    .nav-links{
        display: flex;
        justify-content: space-between;
    }
}


// pagination
.pagination{
    margin-top: 2rem;
    ul{
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        justify-content: center;
        gap: 1rem;
        .active{
            a{
                color:var(--dark-color);
            }
        }
    }
}