.widget-area {
  @media only screen and (max-width: $medium) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  @media only screen and (max-width: $small) {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  .widget {
    padding: 1.5rem;
    // border: 1px solid #00000014;
    font-family: var(--primary-font);

    .widget-title {
      font-family: var(--secondary-font);
      margin: 0 0 1.5rem 0;
      text-transform: uppercase;
      font-size: 1.4rem;
      font-weight: 700;
      color: var(--primary-color);
    }
    ul,
    ol {
      padding: 0;
      margin: 0;
      list-style: none;
    }
    &.widget_archive,
    &.widget_categories,
    &.widget_recent_comments,
    &.widget_meta,
    &.widget_recent_entries,
    &.widget_block {
      li {
        border-bottom: 1px solid #0000001c;
        padding-bottom: 0.5rem;
        margin-bottom: 0.5rem;
        &:last-child {
          margin-bottom: 0;
          border: none;
        }
      }
    }
    .info {
      font-family: var(--primary-font);
    }

    // search widget
    &.widget_search {
      .wp-block-search__label {
        display: none;
      }
      .wp-block-search__inside-wrapper {
        display: grid;
        grid-template-columns: 4fr 1fr;
        @media only screen and (max-width: $large) {
          display: block;
        }
        @media only screen and (max-width: $medium) {
          display: grid;
        }
        input[type="search"] {
          height: 100%;
          width: 100%;
          border-radius: 0;
          padding: 1rem 1.5rem;
        }
        input[type="submit"],
        .wp-block-search__button {
          padding: 1rem 2rem;
          width: 100%;
        }
      }
    }

    // author widget
    &.widget_city_girl_widget_author_profile {
      .graphthemes-widget-author-bio-holder {
        text-align: center;
        font-family: var(--primary-font);
        .image-holder {
          img {
            border-radius: 50%;
            width: 150px;
            height: 150px;
            object-fit: cover;
          }
        }
        h5 {
          margin: 1rem 0;
          font-family: var(--secondary-font);
          font-weight: 400;
          font-size: 2rem;
          color: var(--secondary-color);
        }
        .author-bio-content {
          margin: 1rem 0 2rem 0;
        }
        .btn-readmore {
          // background-color: var(--primary-color);
          color: var(--primary-color);
          // padding: 0.5rem 3rem;
          display: inline-block;
          &:hover {
            color: var(--secondary-color);
          }
        }
        .social-share {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 1.5rem;
          ul {
            gap: 1rem;
          }
        }
      }
    }

    // popular post and regular post
    &.widget_city_girl_widget_popular_post,
    &.widget_city_girl_widget_recent_post {
      ul {
        li {
          display: flex;
          margin-bottom: 1rem;
          flex-direction: row-reverse;
          align-items: center;

          &:last-child {
            margin-bottom: 0;
          }

          .post-thumbnail{
            margin: 2px 0 0 15px;
            flex-shrink: 0;
            flex-basis: 70px;
            background: none;
            border-radius: 1000px;
            img{
              height: 70px;
              object-fit: cover;
              border-radius: 1000px;
            }
          }

          .entry-header {
            flex: auto;

            h6 {
              font-size: 1rem;
              margin: 0;
              font-weight: 300;

              a {
                color: var(--dark-color);

                &:hover {
                  color: var(--primary-color);
                }
              }
            }

            .info {
              margin: 0.5rem 0;
            }
          }
        }
      }
    }
  }
}
