// NEWS SNIPPET
.news-snippet {
    border-radius: 10px;
    box-shadow: 0px 0px 30px -10px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    height: 100%;
    position: relative;
    z-index: 0;

    .news-title {
        margin-top: 0.3rem;
        margin-bottom: 0.7rem;
        word-break: break-word;
        a {
            color: var(--light-color);
            background: linear-gradient(var(--secondary-color), var(--secondary-color));
            background-size: 0 1px;
            background-position: 0 100%;
            background-repeat: no-repeat;

            &:hover {
                color: var(--secondary-color);
                background-size: 100% 1px;
            }
        }
    }

    .featured-image {
        background: none;
        margin: 0;
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;

        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            // background: rgba(0, 0, 0, 0.6);
            transition: all 0.2s ease-in-out;
        }
    }

    &:hover {
        .featured-image {
            &:before {
                backdrop-filter: blur(5px);
            }
        }
    }

    .summary {
        .excerpt {
            margin: 0.5rem 0;
            font-family: var(--secondary-font);
            color: var(--light-color);
        }
    }
    .summary {
        padding: 30px;
        min-height: 400px;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
        // background: rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        overflow: hidden;

        @media screen and (max-width: 768px) {
            padding: 20px;
            min-height: 350px;
        }

        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgb(255, 255, 255);
            background: -moz-linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 1) 70%);
            background: -webkit-linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 1) 70%);
            background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 1) 70%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#000000",GradientType=1);
            z-index: -1;
        }

        // @media only screen and (max-width: $medium) {
        //     margin-top: 20px;
        //     padding: 0 20px 0px;
        // }

        .category,
        .tags {
            font-family: var(--secondary-font);
            font-weight: 500;
            font-size: 0.7rem;
            a {
                margin: 0 0.5rem 0.5rem 0;
                display: inline-block;
                vertical-align: top;
                text-transform: uppercase;
                background: none;
                position: relative;
                padding: 2px 10px 1px;
                border-radius: 1000px;

                // &:before {
                //     content: ",";
                //     position: absolute;
                //     right: -6px;
                // }

                // &:last-child {
                //     &:before {
                //         content: none;
                //     }
                // }

                // &:hover {
                //     color: var(--primary-color);
                //     border-color: var(--primary-color);
                // }
            }
        }
        .category {
            a {
                color: var(--light-color);
                background: var(--secondary-color);

                &:hover {
                    color: var(--light-color);
                    background: var(--primary-color);
                }
            }
        }
        .tags {
            margin: 0.7rem 0 0;
            a {
                color: var(--light-color);
                background: var(--primary-color);
                &:hover {
                    color: var(--light-color);
                    background: var(--secondary-color);
                }
            }
        }
    }
}
// NEWS SNIPPET

/*masorny*/
.custom-grid-view {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-gap: 70px;

    @media screen and (max-width: $medium) {
        grid-gap: 30px;
    }
}
/*masorny*/

// READMORE
.readmore {
    display: flex;
    align-items: center;
    gap: 7px;
    font-family: var(--primary-font);
    font-weight: 500;
    color: var(--secondary-color) !important;
    margin: 1.3rem 0 0;
    background: linear-gradient(var(--secondary-color), var(--secondary-color));
    background-size: 0 1px;
    background-position: 0 100%;
    background-repeat: no-repeat;

    &:hover {
        background-size: 100% 1px;
    }

    svg {
        height: 19px;
        fill: var(--primary-color);
        &:hover {
            fill: var(--dark-color);
        }
    }
}
// READMORE

.info {
    // margin: 0.5rem 0;
    font-size: 0.85rem;
    color: var(--grey-color);

    .post-author {
        display: flex;
        align-items: center;
        margin-left: 0.5rem;
        &:before {
            content: "";
            background-color: var(--light-color);
            height: 1px;
            width: 20px;
            display: inline-block;
            margin-right: 0.5rem;
        }
    }
    .comments {
        display: flex;
        align-items: center;
        gap: 5px;
        font-style: normal;
        font-family: var(--primary-font);
        margin: 0.5rem 0;
        color: var(--light-color);
        a {
            background: none;
            color: var(--light-color);
            &:hover {
                color: var(--secondary-color);
            }
        }
        svg {
            fill: var(--light-color);
        }
    }
    &.ifoot {
        text-transform: uppercase;
        font-size: 0.9rem;
        // margin: 1.3rem 0;

        .social-share {
            ul {
                li {
                    a {
                        display: block;
                    }
                }
            }
        }
    }
    &.ihead,
    &.ifoot {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0 30px;
        flex-wrap: wrap;
        margin-bottom: 0;
        width: 100%;
    }
}

.list-inline {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;

    li {
        color: var(--light-color);
    }

    a {
        background: none;
        color: var(--light-color);
        display: inline-flex;
        margin: 0.5rem 0;
        &:hover {
            color: var(--secondary-color);
        }
    }
}

.main-wrapper {
    .category,
    .tags {
        display: flex;
        // gap: 0.5rem;
        margin: 0.7rem 0;
        font-family: var(--secondary-font);
        font-weight: 400;
        font-size: 0.85rem;
        text-transform: uppercase;
        flex-wrap: wrap;

        a {
            display: flex;
            align-items: center;
            background: none;
            color: var(--dark-color);
            position: relative;
            margin: 0 0.5rem 0.5rem 0;

            // &:before {
            //     content: ",";
            //     position: absolute;
            //     right: -6px;
            // }

            // &:last-child {
            //     &:before {
            //         content: none;
            //     }
            // }

            &:hover {
                color: var(--primary-color);
                border-color: var(--primary-color);
            }
        }
    }
}

.social-share {
    .list-inline {
        gap: 7px;
        li {
            display: inline-flex;
            font-family: var(--secondary-font);

            svg {
                height: 1rem;
                width: auto;
                fill: var(--dark-color);
                &:hover {
                    fill: var(--secondary-color);
                }
            }
        }
    }
}

.related-posts {
    margin: 50px 0 0;

    .main-title {
        color: var(--light-color);
        margin-top: 0;
        text-align: center;
    }

    .post-holder {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
        grid-gap: 2rem;

        .news-snippet {
            flex-wrap: nowrap;
            flex-direction: column;
            height: auto;

            .featured-image {
                display: flex;
                width: 100%;
            }

            .summary {
                // margin-top: 20px;
                padding: 20px;
            }
        }
    }
}

.posts-navigation {
    .nav-links {
        display: flex;
        justify-content: space-between;
    }
}

// pagination
.pagination {
    margin-top: 3rem;

    @media screen and (max-width: $medium) {
        margin-top: 2rem;
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        margin: 0;
        padding: 0;
        justify-content: center;
        gap: 1rem;

        li {
            a {
                padding: 7px 17px;
                background: rgba(255, 255, 255, 0.8);
                border-radius: 4px;
                display: block;
                box-shadow: 0px 0px 30px -10px rgba(0, 0, 0, 0.5);
                font-weight: 500;
            }
        }

        .active {
            a {
                color: var(--primary-color);
            }
        }
    }
}
