footer.site-footer {
    color: var(--dark-color);
    padding: 0 0 30px;

    .footer-wrapper {
        background: rgba(255, 255, 255, 0.7);
        border-radius: 10px;
        box-shadow: 0px 0px 30px -10px rgba(0, 0, 0, 0.5);
        padding: 30px;

        .site-info {
            font-size: 1rem;
            align-items: center;
            text-align: center;
            padding: 1.5rem 0 0;
            a {
                color: var(--dark-color);
                &:hover {
                    text-decoration: none;
                    color: var(--primary-color);
                }
                &.footer-brand {
                    text-decoration: underline;
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

.social-links {
    display: flex;
    justify-content: center;
    ul {
        li {
            display: flex;
            a {
                margin: 0 0.5rem;
                svg {
                    fill: var(--dark-color);
                    max-width: 1rem;
                    height: 1rem;
                    &:hover {
                        fill: var(--primary-color);
                    }
                }
            }
        }
    }
}

.scroll-to-top {
    width: 2.5rem;
    height: 2.5rem;
    display: none;
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    border-radius: 50%;
    background: var(--dark-color);
    cursor: pointer;
    svg {
        width: 100%;
        fill: var(--light-color);
    }
    &:hover {
        background: var(--primary-color);
        transform: scale(0.9);
    }
}

// @media only screen and (max-width: 600px) {
//     footer{
//         color:var(--primary-color);
//     }
// }
