.detail-content {
    padding: 30px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}
header.page-header {
    margin-bottom: 2rem;
    color: var(--dark-color);
    background: rgba(255, 255, 255, 0.8);
    padding: 4px 16px;
    border-radius: 5px;

    h1 {
        font-size: 1.2rem;
        margin: 0;
        font-weight: 400;

        span {
            color: var(--primary-color);
            font-weight: 500;
        }
    }
    .archive-description {
        color: var(--dark-color);
        border-top: 1px solid #ddd;
        margin: 10px 0 0;

        p:last-child {
            margin-bottom: 10px;
        }
    }
}

.entry-header {
    h1.entry-title {
        margin: 0 0 2rem 0;
        line-height: 1.2;
        font-weight: 400;
    }
}
.entry-content {
    a {
        background-size: 100% 1px;
        transition: all 0.2s ease;
        &:hover,
        &:focus {
            background-image: linear-gradient(var(--dark-color), var(--dark-color));
        }
    }
}

.featured-image {
    background-size: 0 !important;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top center;
    }
}

.single-post {
    ol,
    ul {
        margin-left: 0;
    }
    .wp-block-pullquote {
        margin: 4rem 0 1rem 0;
        blockquote {
            position: relative;
            p {
                font-style: italic;
                font-size: 1.5rem;
            }
            &::before {
                content: open-quote;
                font-size: 10rem;
                color: var(--primary-color);
                position: absolute;
                top: -8rem;
            }
        }
    }
    .list-inline {
        .post-author {
            &:before {
                background-color: var(--grey-color);
            }
        }
        a {
            color: var(--grey-color);

            &:hover {
                color: var(--primary-color);
            }
        }
    }
    .comments {
        color: var(--grey-color);
        svg {
            fill: var(--grey-color);
        }
        a {
            color: var(--grey-color);

            &:hover {
                color: var(--primary-color);
            }
        }
    }
    // .wp-block-quote {
    //     margin: 2rem;
    //     border-left: 5px solid var(--primary-color);
    //     padding-left: 2rem;
    //     p {
    //         font-style: italic;
    //         font-size: 1.5rem;
    //     }
    // }
    .wp-block-preformatted,
    .wp-block-verse {
        background: var(--light-color);
    }
}
.author-post {
    display: flex;
    justify-content: flex-start;
    background: var(--light-color);
    align-items: flex-start;
    gap: 1rem;
    margin-bottom: 2rem;
    font-family: var(--primary-font);
    width: 100%;
    .author-image {
        width: 20%;

        a {
            background: none;
            display: block;
            img {
                width: 100%;
                display: block;
            }
        }
    }
    .author-details {
        width: 80%;
        padding: 20px 0;
    }
    h4 {
        margin: 0 0 1rem 0;
        line-height: 1;
    }
}

.comments-area {
    margin-top: 4rem;
    .comments-title {
        font-size: 1.5rem;
    }
    .comment-form {
        a {
            color: var(--primary-color);
        }
        .form-submit {
            margin-bottom: 0;
        }
        input[type="text"],
        input[type="email"],
        input[type="url"] {
            width: 100%;
            height: 40px;
        }
    }
    ol {
        list-style: none;
        &.comment-list {
            margin: 0;
            padding: 0;

            .comment-author-admin {
                font-family: var(--primary-font);
                padding: 1.5rem;
            }
            .comment-body {
                .edit-link {
                    a {
                        color: var(--primary-color);
                    }
                }

                .comment-content {
                    padding: 10px 15px;
                    background: #f5f5f5;
                    margin: 10px 0;

                    p {
                        margin: 0;
                    }
                }

                .reply {
                    a {
                        color: var(--primary-color);
                    }
                }
            }
            .comment-body + .children {
                border-top: 1px solid #ddd;
                margin: 20px 0 0;
                padding-top: 20px;
            }
            .comment-body + .comment-respond {
                border-top: 1px solid #ddd;
                margin: 20px 0 0;
            }

            .comment {
                background: #ffffff;
                padding: 30px;
                border-bottom: 1px solid #ddd;

                &:last-child {
                    border: 0;
                }

                .children {
                    li {
                        padding: 0;
                    }
                }
            }

            // .thread-odd {
            //     background: #ffffff70;
            // }
        }
    }
    .comment-author {
        display: flex;
        align-items: center;
        gap: 5px;
        margin-bottom: 5px;
        img {
            height: 2.5rem;
            width: 2.5rem;
        }
    }
    .comment-metadata {
        font-size: 0.75rem;
        text-transform: uppercase;
        display: flex;
        align-items: stretch;
        justify-content: space-between;
    }
}
