header.page-header{
    margin-bottom: 2rem;
    color: var(--secondary-color);
    h1{
        font-size: 1rem;
        margin:0;
    }
    .archive-description{
        color: var(--dark-color);
    }
}


.entry-header{
    h1.entry-title{
        margin: 0 0 2rem 0;
        line-height: 1.2;
        font-weight: 400;
    }
}
.entry-content{
    a{
        background-size: 100% 1px;
        transition: all 0.2s ease;
            &:hover, &:focus {
                background-image: linear-gradient(var(--dark-color), var(--dark-color)); 
            }
    }
}

.featured-image{
    background-size: 0 !important;
    img{
        width: 100%;
    }
}


.single-post{
    ol,ul{
        margin-left: 0;
    }
    .wp-block-pullquote{
        margin: 4rem 0 1rem 0;
        blockquote{
            position: relative;
            p{
                font-style: italic;font-size: 1.5rem;
            }
            &::before{
                content: open-quote;
                font-size: 10rem;
                color: var(--primary-color);
                position:absolute;
                top: -8rem;
            }
        }
    }
    .wp-block-quote{
        margin: 2rem;
        border-left: 5px solid var(--primary-color);
        padding-left: 2rem;
        p{
            font-style: italic;font-size: 1.5rem;
        }
    }
    .wp-block-preformatted,.wp-block-verse{
        background: var(--light-color);
    }
}
.author-post{
    display: flex;
    justify-content: flex-start;
    background: var(--light-color);
    align-items: flex-start;
    gap:1rem;
    margin-bottom: 2rem;
    font-family: var(--primary-font);
    .author-image{
        width: 20%;

        a{
            background: none;
            display: block;
            img{
                width: 100%;
                display: block;
            }
        }
    }
    .author-details{
        width: 80%;
        padding: 20px 0;
    }
    h4{margin:0 0 1rem 0;line-height: 1;}
}

.comments-area{
    margin-top: 4rem;
    .comments-title{
        font-size: 1.5rem;
    }
    ol{
        list-style: none;
        &.comment-list {
            margin: 0;
            padding: 0;
            .thread-even {
                background: #ffffff;
                padding: 2rem;
                font-family: var(--primary-font);
            }
            .thread-odd {
                background: #ffffff70;
                padding: 2rem;
            }
            .children{
                margin-top: 1rem;
            }
        }
    }
    .comment-author{
        display: flex;
        align-items: center;
        gap: 5px;
        margin-bottom: 5px;
        img{
            height: 2.5rem;
            width: 2.5rem;
        }
    }
    .comment-metadata {
        font-size: 0.75rem;
        text-transform: uppercase;
        display: flex;
        align-items: stretch;
        justify-content: space-between; 
    }
}

