// NEWS SNIPPET
.news-snippet {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    height: 100%;
    place-content: baseline;
    background: #ffffff;
    backdrop-filter: blur(13px);
    box-shadow: 0px 0 20px -5px rgba(0, 0, 0, 0.1);

    .news-title {
        margin-top: 0.7rem;
        margin-bottom: 1rem;
        a {
            color: var(--primary-color);
        }
    }
    .featured-image {
        background: none;
        margin: 0;
        width: 100%;
        display: inherit;
    }
    .summary {
        margin-top: 1rem;
        padding: 25px 25px 0;

        @media only screen and (max-width: 639px) {
            margin: 0;
        }

        .excerpt {
            margin: 1rem 0;
            font-family: var(--secondary-font);
        }

        .category {
            a {
                padding: 3px 10px 0px;
                border-radius: 3px;
                text-transform: uppercase;
                background: var(--secondary-color);
                color: var(--light-color);

                &:hover {
                    background: var(--dark-color);
                }
            }
        }

        .category,
        .tags {
            font-family: var(--primary-font);
            font-weight: 400;
            font-size: 0.7rem;
            a {
                margin: 0 0.5rem 0.5rem 0;
                display: inline-block;
                vertical-align: top;
            }
        }
    }
}
// NEWS SNIPPET

.home {
    .featured-image {
        img {
            height: 250px;
            object-fit: cover;

            @media only screen and (max-width: 639px) {
                height: auto;
            }
        }
    }
}

/*masorny*/
.blog-grid-view {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-gap: 40px;
    margin-bottom: 7rem;

    @media only screen and (max-width: 1319px) {
        grid-gap: 0 40px;
        margin-bottom: 3rem;
    }
    @media only screen and (max-width: 999px) {
        grid-gap: 40px;
        margin-bottom: 6rem;
    }
    @media only screen and (max-width: 639px) {
        grid-gap: 30px 40px;
        margin-bottom: 2rem;
    }
    .type-post {
        &:nth-child(even) {
            margin: 60px 0 -60px;

            @media only screen and (max-width: 1319px) {
                margin: 40px 0;
            }
            @media only screen and (max-width: 999px) {
                margin: 40px 0 -40px;
            }
            @media only screen and (max-width: 639px) {
                margin: 0;
            }
        }
    }
}
/*masorny*/

// READMORE
.readmore {
    display: flex;
    align-items: center;
    gap: 7px;
    font-family: var(--primary-font);
    color: var(--secondary-color) !important;

    &:hover {
        color: var(--dark-color) !important;
    }

    svg {
        height: 19px;
        fill: var(--primary-color);
        &:hover {
            fill: var(--dark-color);
        }
    }
}
// READMORE

.info {
    margin: 0.5rem 0;
    font-size: 0.85rem;
    color: var(--grey-color);

    .post-author {
        display: flex;
        align-items: center;
        margin-left: 0.5rem;
        &:before {
            content: "";
            background-color: var(--grey-color);
            height: 1px;
            width: 20px;
            display: inline-block;
            margin-right: 0.5rem;
        }
    }
    .comments {
        display: flex;
        align-items: center;
        gap: 5px;
        font-style: normal;
        font-family: var(--primary-font);
        a {
            background: none;
            color: var(--grey-color);
            &:hover {
                color: var(--primary-color);
            }
        }
        svg {
            fill: var(--primary-color);
        }
    }
    &.ifoot {
        text-transform: uppercase;
        font-size: 0.8rem;
        margin: 1.5rem 0;
    }
    &.ihead,
    &.ifoot {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media only screen and (max-width: $small) {
            flex-wrap: wrap;
            gap: 10px;
        }
    }
}

.list-inline {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    text-transform: uppercase;

    li {
        color: var(--dark-color);
    }

    a {
        background: none;
        color: var(--dark-color);
        display: inline-flex;
        // font-style: italic;
        &:hover {
            color: var(--secondary-color);
        }
    }
}

.main-wrapper {
    .category,
    .tags {
        display: flex;
        gap: 0.5rem;
        margin: 1rem 0;
        font-family: var(--primary-font);
        font-weight: 400;
        font-size: 0.85rem;
        a {
            display: flex;
            align-items: center;
            background: none;
            color: var(--dark-color);
            // &:hover{
            //     color: var(--primary-color);
            // }
            // &:after{
            //     content: "";
            //     background-color: var(--grey-color);
            //     height: 3px;
            //     width: 3px;
            //     display: inline-block;
            //     margin-left: 0.5rem;
            //     margin-top: 3px;
            //     border-radius: 50%;
            // }
            &:last-child:after {
                display: none;
            }
        }
    }
    .category {
        a {
            padding: 3px 10px 0px;
            border-radius: 3px;
            text-transform: uppercase;
            background: var(--secondary-color);
            color: var(--light-color);

            &:hover {
                background: var(--dark-color);
            }
        }
    }
}

.search {
    .main-wrapper {
        .category {
            margin: 0;
        }
    }
}

.social-share {
    .list-inline {
        gap: 7px;
        li {
            display: inline-flex;
            font-family: var(--primary-font);

            svg {
                height: 1rem;
                width: auto;
                fill: var(--secondary-color);
                &:hover {
                    fill: var(--primary-color);
                }
            }
        }
    }
}

.related-posts {
    // margin: 4rem 0;
    .post-holder {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
        grid-gap: 2rem;

        .news-snippet {
            flex-wrap: nowrap;
            flex-direction: column;
            height: auto;
            .featured-image {
                display: flex;
                width: 100%;
            }
            .summary {
                margin: 0;
                .news-title {
                    margin: 0 0 1rem;
                    line-height: 1.25;
                }
            }
        }
    }
}

.posts-navigation {
    .nav-links {
        display: flex;
        justify-content: space-between;
    }
}

// pagination
.pagination {
    ul {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        justify-content: center;
        gap: 1rem;
        li {
            a {
                padding: 5px 15px 2px;
                background: var(--dark-color);
                color: var(--light-color);
                display: inline-block;
                vertical-align: top;

                &:hover {
                    background: var(--secondary-color);
                    color: var(--light-color);
                }
            }
        }
        .active {
            a {
                background: var(--secondary-color);
            }
        }
    }
}
