// NEWS SNIPPET
.news-snippet {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    background: var(--secondary-color);
    border-radius: 15px;
    padding: 30px;
    margin: 0 0 30px;

    .news-title {
        margin-top: 0.7rem;
        margin-bottom: 1rem;
        a {
            color: var(--light-color);
        }
    }
    .entry-header {
        .entry-title {
            margin-top: 0;
        }
    }
    .post-thumbnail {
        background-size: 0;
    }
    .featured-image {
        background: none;
        margin: 0;
        width: 100%;
        border-radius: 15px 15px 0 0;
        overflow: hidden;
        // display: flex;
        // margin: 30px 0;
    }

    .summary {
        // margin-top: 1rem;
        padding: 30px;

        .excerpt {
            margin: 1rem 0 0;
            font-family: var(--secondary-font);
            color: var(--grey-color);
        }

        .category {
            a {
                border: 1px solid var(--primary-color);
                padding: 5px 15px 2px;
                border-radius: 1000px;
                text-transform: uppercase;
                background: var(--primary-color);
                color: #fff;

                &:hover {
                    // color: var(--secondary-color);
                    border-color: var(--light-color);
                }
            }
        }

        .category,
        .tags {
            font-family: var(--primary-font);
            font-weight: 400;
            font-size: 0.7rem;
            a {
                margin: 0 0.5rem 0.5rem 0;
                display: inline-block;
                vertical-align: top;
            }
        }
    }
}
// NEWS SNIPPET

.home {
    .featured-image {
        img {
            height: 250px;
            object-fit: cover;
            display: block;

            @media only screen and (max-width: 768px) {
                height: 200px;
            }
        }
    }
}

/*masorny*/
.blog-grid-view {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 50px;

    @media only screen and (max-width: $small) {
        margin: 0;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    }

    @media only screen and (max-width: 768px) {
        grid-gap: 30px;
    }
    .type-post {
        background: var(--secondary-color);
        border-radius: 15px;
        // display: flex;
        // flex-wrap: wrap;

        // @media only screen and (max-width: $small) {
        //     width: 100%;padding:0 0 3rem 0;
        // }

        .news-snippet {
            padding: 0;
            margin: 0;
        }

        &:first-child {
            grid-column-start: 1;
            grid-column-end: 3;
            // border-bottom: 1px solid #222;
            // padding: 0 0 100px;

            @media only screen and (max-width: 768px) {
                // padding: 0 0 50px;
                grid-column-end: 1;
            }

            .news-snippet {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(289px, 1fr));
                grid-gap: 20px;
                height: 100%;

                @media only screen and (max-width: 768px) {
                    grid-gap: 0;
                    display: flex;
                    flex-direction: column-reverse;
                }

                .featured-image {
                    border-radius: 0;
                    img {
                        height: 100%;
                        object-fit: cover;
                        border-radius: 0 15px 15px 0;

                        @media only screen and (max-width: 768px) {
                            height: 200px;
                            border-radius: 15px 15px 0 0;
                        }
                    }
                }

                .summary {
                    display: flex;
                    flex-direction: column;
                    // grid-gap: 30px;
                    // justify-content: space-between;

                    @media only screen and (max-width: 768px) {
                        // grid-gap: 10px;
                        display: block;
                    }

                    .news-title {
                        font-size: 2.5rem;

                        @media only screen and (max-width: 768px) {
                            font-size: 1.6rem;
                        }
                    }

                    .excerpt {
                        // margin: 1rem 0 3rem;

                        @media only screen and (max-width: 768px) {
                            margin: 1rem 0;
                        }
                    }
                }
            }
        }
    }
    .type-page {
        .news-snippet {
            padding: 0;
            margin: 0;
        }
    }
}
/*masorny*/

// READMORE
.readmore {
    display: flex;
    align-items: center;
    gap: 7px;
    font-family: var(--primary-font);

    svg {
        height: 19px;
        fill: var(--primary-color);
        &:hover {
            fill: var(--dark-color);
        }
    }
}
// READMORE

.info {
    margin: 0.5rem 0;
    font-size: 0.85rem;
    color: var(--grey-color);

    .post-author {
        display: flex;
        align-items: center;
        margin-left: 0.5rem;
        &:before {
            content: "";
            background-color: var(--grey-color);
            height: 1px;
            width: 20px;
            display: inline-block;
            margin-right: 0.5rem;
        }
    }
    .comments {
        display: flex;
        align-items: center;
        gap: 5px;
        font-style: normal;
        font-family: var(--primary-font);
        a {
            background: none;
            color: var(--grey-color);
            &:hover {
                color: var(--primary-color);
            }
        }
        svg {
            fill: var(--primary-color);
        }
    }
    &.ifoot {
        text-transform: uppercase;
        font-size: 0.8rem;
        margin: 1.5rem 0 0;
    }
    &.ihead,
    &.ifoot {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        flex-wrap: wrap;
    }
}

.list-inline {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    text-transform: uppercase;

    li {
        color: var(--grey-color);
    }

    a {
        background: none;
        color: var(--grey-color);
        display: inline-flex;
        // font-style: italic;
        &:hover {
            color: var(--light-color);
        }
    }
}

.main-wrapper {
    .category {
        a {
            border: 1px solid var(--primary-color);
            padding: 4px 13px 0;
            border-radius: 1000px;
            text-transform: uppercase;
            background-color: var(--primary-color);
            background-size: 0;

            &:hover {
                // color: var(--secondary-color);
                border-color: var(--light-color);
            }
        }
    }
    .category,
    .tags {
        display: flex;
        gap: 0.5rem;
        margin: 1rem 0;
        font-family: var(--primary-font);
        font-weight: 400;
        font-size: 0.85rem;
        a {
            display: flex;
            align-items: center;
            color: var(--light-color);
            // background: none;
            // &:hover{
            //     color: var(--primary-color);
            // }
            // &:after{
            //     content: "";
            //     background-color: var(--grey-color);
            //     height: 3px;
            //     width: 3px;
            //     display: inline-block;
            //     margin-left: 0.5rem;
            //     margin-top: 3px;
            //     border-radius: 50%;
            // }
            &:last-child:after {
                display: none;
            }
        }
    }
}

.social-share {
    .list-inline {
        gap: 7px;
        li {
            display: inline-flex;
            font-family: var(--primary-font);

            svg {
                height: 1rem;
                width: auto;
                fill: var(--light-color);
                &:hover {
                    fill: var(--primary-color);
                }
            }
        }
    }
}

.related-posts {
    margin: 4rem 0 0;
    .post-holder {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
        grid-column-gap: 2rem;

        .news-snippet {
            margin-bottom: 1rem;
            flex-wrap: nowrap;
            flex-direction: column;
            padding: 0;
            .featured-image {
                display: flex;
                width: 100%;

                img {
                    border-radius: 0;
                    height: 200px;
                    object-fit: cover;
                    object-position: top center;
                }
            }
            h5 {
                margin: 0 0 1rem;
                line-height: 1.25;
            }
        }
    }
}

.posts-navigation {
    .nav-links {
        display: flex;
        justify-content: space-between;
    }
}

// pagination
.pagination {
    margin-top: 2.78rem;
    ul {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        justify-content: center;
        gap: 1rem;

        li {
            color: var(--light-color);
        }
        .active {
            a {
                color: var(--primary-color);
                background: linear-gradient(var(--primary-color), var(--primary-color));
                background-position: 0 100%;
                background-repeat: no-repeat;
                background-size: 100% 1px;
            }
        }
    }
}
