.widget-area {
    @media only screen and (max-width: $medium) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }
    @media only screen and (max-width: $small) {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
    .widget {
        padding: 1.5rem;
        border: 1px solid #00000014;
        font-family: var(--primary-font);
        background-color: var(--secondary-color);
        border-radius: 15px;

        .widget-title {
            font-family: var(--primary-font);
            margin: 0 0 1.5rem 0;
            text-transform: uppercase;
            font-size: 1.2rem;
        }
        ul,
        ol {
            padding: 0;
            margin: 0;
            list-style: none;

            li {
                margin: 0 0 15px;
                padding: 0 0 15px;
                border-bottom: 1px solid #333;

                &:last-child {
                    margin: 0;
                    padding: 0;
                    border: 0;
                }
            }
        }
        &.widget_archive,
        &.widget_categories,
        &.widget_recent_comments,
        &.widget_meta,
        &.widget_recent_entries {
            li {
                border-bottom: 1px solid #0000001c;
                padding-bottom: 0.5rem;
                margin-bottom: 0.5rem;
                &:last-child {
                    margin-bottom: 0;
                    border: none;
                }
            }
        }

        // search widget
        &.widget_search {
            .wp-block-search__label {
                display: none;
            }
            .wp-block-search__inside-wrapper {
                display: grid;
                grid-template-columns: 4fr 1fr;
                @media only screen and (max-width: $large) {
                    display: block;
                }
                @media only screen and (max-width: $medium) {
                    display: grid;
                }
                input[type="search"] {
                    height: 100%;
                    width: 100%;
                    border-radius: 0;
                    padding: 0.6rem;
                }
                input[type="submit"],
                .wp-block-search__button {
                    padding: 0.6rem;
                }
            }
        }

        // author widget
        &.widget_spenser_blog_widget_author_profile {
            .graphthemes-widget-author-bio-holder {
                text-align: center;
                .image-holder {
                    img {
                        border-radius: 50%;
                        width: 150px;
                        height: 150px;
                        object-fit: cover;
                    }
                }
                h5 {
                    margin: 1rem 0;
                }
                .author-bio-content {
                    margin: 1rem 0 2rem 0;
                }
                .btn-readmore {
                    background-color: var(--primary-color);
                    color: var(--light-color);
                    padding: 0.5rem 3rem;
                    display: inline-block;
                    border-radius: 5px;
                    &:hover {
                        background-color: var(--secondary-color);
                    }
                }
                .social-share {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-top: 1.5rem;
                    ul {
                        gap: 1rem;
                    }
                }
            }
        }

        // popular post and regular post
        &.widget_spenser_blog_widget_popular_post,
        &.widget_spenser_blog_widget_recent_post {
            ul {
                li {
                    display: flex;
                    margin-bottom: 1rem;

                    &:last-child {
                        margin-bottom: 0;
                    }
                    .post-thumbnail {
                        margin: 2px 15px 0 0;
                        flex-shrink: 0;
                        flex-basis: 100px;
                        background: none;
                        img {
                            height: 70px;
                            object-fit: cover;
                            border-radius: 5px;
                        }
                    }
                    .entry-header {
                        flex: auto;
                    }
                    h6 {
                        margin: 0;
                    }
                }
            }
        }
    }

    & section[class*="widget_spenser_blog_"] {
        ul {
            li {
                margin: 0;
                padding: 0;
                border: 0;
            }
        }
    }
}
