.inside-page{
    .inner-article-content{
        font-family: var(--primary-font);
        a{
            background-size: 100% 1px;
            &:hover{
                background-size: 0 1px;
                color: var(--primary-color);
            }
        }
    }
}