// NEWS SNIPPET
    .news-snippet{
        .news-title{
            margin-top: 0.3rem;
            margin-bottom: 1rem;
            a{
                color: var(--primary-color);
            }
        }
        .featured-image{
            background: none;
            margin: 0;
            display: flex;
        }
        .summary{
            .excerpt{
                margin: 1rem 0;
                font-family: var(--secondary-font);
            }
        }
        .summary{
            margin-top:1rem;

            .category{
                a{
                    border: 1px solid var(--dark-color);
                    padding: 2px 10px;
                    border-radius: 1000px;
                    text-transform: uppercase;
                    background: none;

                    &:hover{
                        color: var(--secondary-color);
                        border-color: var(--secondary-color);
                    }
                }
            }

                .category,.tags{
                    font-family: var(--primary-font);
                    font-weight: 400;
                    font-size: 0.7rem;
                    a{
                        margin: 0 0.5rem 0.5rem 0;
                        display: inline-block;
                        vertical-align: top;
                    }
                }
        }
        
    }
// NEWS SNIPPET

/*masorny*/
.blog-grid-view{
    margin: 0 -2rem;
    @media only screen and (max-width: $small) {
        margin:0;
    }
    .type-post{
        width: 33.33333%;padding:0 2rem 6rem 2rem;
        @media only screen and (max-width: $small) {
            width: 100%;padding:0 0 3rem 0;
        }
    }
}
/*masorny*/



// READMORE
    .readmore{
        display: flex;
        align-items: center;
        gap:7px;
        font-family: var(--primary-font);

        svg{
            height: 19px;
            fill:var(--primary-color);
            &:hover{
                fill:var(--dark-color);
            }
        }
    }
// READMORE


.info {
    margin:0.5rem 0;
    font-size: 0.85rem;
    color: var(--grey-color);
    
    .post-author{
        display: flex;
        align-items: center;
        margin-left: 0.5rem;
        &:before{
            content: "";
            background-color: var(--grey-color);
            height: 1px;
            width: 20px;
            display: inline-block;
            margin-right: 0.5rem;
        }
    }
    .comments{
        display: flex;
        align-items: center;
        gap:5px;
        font-style: normal;
        font-family: var(--primary-font);
        a{
            background: none;
            color: var(--grey-color);
            &:hover{
                color: var(--primary-color);
            }
        }
        svg{
            fill: var(--primary-color);
        }
    }
    &.ifoot{
        text-transform: uppercase;
        font-size: 0.8rem;
        margin: 1.5rem 0;
    }
    &.ihead,&.ifoot{
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media only screen and (max-width: $small) {
            flex-wrap: wrap;
            gap: 10px;
        }
    }
}

.list-inline{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;

    li{
        color: var(--dark-color);
    }
    
    a{
        background: none;
        color: var(--dark-color);
        display: inline-flex;
        font-style: italic;
        &:hover{
            color: var(--secondary-color);
        }
    }

}



.main-wrapper{
    .category{
        a{
            border: 1px solid var(--dark-color);
            padding: 4px 13px 1px;
            border-radius: 1000px;
            text-transform: uppercase;

            &:hover{
                color: var(--secondary-color);
                border-color: var(--secondary-color);
            }
        }
    }
.category,.tags{
    display: flex;
    gap:0.5rem;
    margin: 1rem 0;
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 0.85rem;
    a{
        display: flex;
        align-items: center;
        background: none;
        color: var(--dark-color);
    //     &:hover{
    //         color: var(--primary-color);
    //     }
    // &:after{
    //     content: "";
    //     background-color: var(--grey-color);
    //     height: 3px;
    //     width: 3px;
    //     display: inline-block;
    //     margin-left: 0.5rem;
    //     margin-top: 3px;
    //     border-radius: 50%;
    // }
    &:last-child:after{
        display: none;
    }
}
}
}


.social-share{
    .list-inline{
        gap:7px;
    li{
        display: inline-flex;
        font-family: var(--primary-font);
        
    svg{
        height: 1rem;
        width: auto;
        fill:var(--secondary-color);
        &:hover{
            fill:var(--primary-color)
        }
    }
}
}
}


.related-posts{
    margin: 4rem 0;
    .post-holder{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 2rem;
        @media only screen and (max-width: $small) {
            grid-template-columns: 1fr;
        }
        .news-snippet{
            margin-bottom: 1rem;
            flex-wrap: nowrap;
            flex-direction: column;
            .featured-image{
                display: flex;
                width: 100%;
            }
            h5{
             margin: 1rem 0;
                line-height: 1.25;
            }
            }
        }
}

.posts-navigation{
    .nav-links{
        display: flex;
        justify-content: space-between;
    }
}


// pagination
.pagination{
    margin-top: 2rem;
    ul{
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        justify-content: center;
        gap: 1rem;
        .active{
            a{
                color:var(--dark-color);
            }
        }
    }
}
