header a{
   transition: all 0.3s ease;
}

header.site-header{
   padding: 0;
   position: relative;
   border-bottom: 1px solid var(--dark-color);

   .header-wrapper{
      padding: 1rem 0;
      

      .site-header-wrapper{
         display: flex;
         align-items:center;
         justify-content: space-between;
         grid-gap: 15px;
         
         .site-branding{
            min-width: var(--logo-size);
            display: flex;
            align-items: center;
            width: 200px;

            .custom-logo-link{
               background: none;

                  img{
                     width: var(--logo-size);
                     max-width: none;
                  }
            }

            .site-identity{
                  width: max-content;

                  .site-title{
                     font-size: var(--site-identity-font-size);
                     font-family: var(--site-identity-font-family);
                     line-height: 1.25em;
                     width: max-content;

                     .logo{
                        color: var(--site-title-color);
                     }
                  }
                  
                  .site-description{font-size: 1rem;width: max-content;}
            }
         }

         
         .social-links{
            display: block;
             ul{
               li{
                  a{
                     svg{
                        fill: var(--secondary-color);
                     }

                     &:hover{
                        svg{
                           fill: var(--dark-color);
                        }
                     }
                  }
               }
             }
         }
      }
   }
   
   &.sticky-header{
      position: sticky;
      top: 0;
      z-index:100;
   }
}


.top-bar{
   background-color: var(--secondary-color);
   min-height: 32px;
   
   .social-links{
      justify-content: flex-end;
      padding:0.5rem 0;
      @media only screen and (max-width: $small) {
         
      }
   }
   .top-wrapper{
      display: flex;
      justify-content: space-between;
      position: relative;
   }
}



.logged-in header.sticky-header{
   top:32px;
}



// breadcrumb
#breadcrumbs{
   list-style:none;
   margin:3rem 0 1rem 0;
   padding:0;
   overflow:hidden;
   font-size: 0.75rem;
   text-transform: uppercase;
      li{
         display:inline-block;
         vertical-align:middle;
         margin-right:15px;
         &.separator{
            font-size:18px;
            font-weight:100;
            color:#ccc;
         }
   }
}
// breadcrumb





.site-header .search-form {
   position: absolute;
   left: 0;
   top: 0;

   @media only screen and (max-width: $small) {
      left: -20px;
      right: -20px;
   }
}

.site-header{
.search-field {
   background-color: transparent;
   background-image: url(images/search.svg);
   background-position: 5px center;
   background-repeat: no-repeat;
   background-size: 20px;
   border: none;
   cursor: pointer;
   height: 32px;
   margin: 0 0;
   padding: 0 5px 0 45px;
   border-radius: 0;
   position: relative;
   -webkit-transition: width 400ms ease, background 400ms ease;
   transition:         width 400ms ease, background 400ms ease;
   width: 0;
   color: var(--dark-color) !important;
      @media only screen and (max-width: $small) {
         background-position: 15px center;
      }
      &:focus {
         background-color: rgba(255, 255, 255, 0.85);
         background-image: url(images/search-b.svg);
         border: none;
         cursor: text;
         outline: 0;
         width: 320px;
         @media only screen and (max-width: $small) {
            width: 100%;
         }
      }
      &::placeholder{
         color: var(--dark-color) !important;
         font-weight: 300;
      }
   }
      .search-submit {
         display:none;
   }
}


@media screen and (max-width: $large) {
	header.site-header{
      .header-wrapper{
         .site-header-wrapper{
             .social-links{
               display: none;
             }
         }
      }
   }
}